/* CSS specific to TaskItem component.
/* Last updated 2026-07-14 for v2.4.0.b51, @jgclark */

/* Note: should be the same as in TasksFiltered.css */
.sectionItemRow {
	/* The important trick to avoiding bad wrapping at end of columns */
	break-inside: avoid;
	display: flex;
	/* trying margin not padding now */
	margin: 0px 4px 1px 0px; 	
	border: 0px none;
	column-gap: 3px;
	/* vertical for all items this contains */
	align-items: baseline; /* start; */
	/* horizontal for all items this contains */
	justify-items: start;
}

