{
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:flowtype/recommended",
    "prettier"
  ],
  "plugins": [
    "import",
    "flowtype"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "requireConfigFile": false,
    "babelOptions": {
      "presets": [
        "@babel/flow"
      ]
    }
  },
  "rules": {
    "prefer-template": "warn",
    "eqeqeq": [
      "error",
      "smart"
    ],
    "semi": [
      "error",
      "never"
    ],
    "curly": [
      "error",
      "multi-line"
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "new-cap": "off",
    "no-case-declarations": "error",
    "no-var": "error",
    "prefer-const": "error",
    "no-prototype-builtins": "off",
    "no-unused-vars": "off",
    "import/order": "error",
    "no-useless-escape": "off"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "Paragraph": true,
    "Note": true,
    "ParagaraphBridge": true,
    "Editor": true,
    "DataStore": true,
    "CommandBar": true,
    "Calendar": true,
    "CalendarItem": true,
    "globalThis": true,
    "Clipboard": true,
    "fetch": true
  },
  "ignorePatterns": [
    "node_modules",
    "nmn.sweep/script.js",
    "nmn.Templates/script.js",
    "np.statistics/script.js"
  ]
}
