{
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:flowtype/recommended",
    "prettier"
  ],
  "plugins": [
    "import",
    "flowtype",
    "unused-imports",
    "no-floating-promise"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "requireConfigFile": false,
    "babelOptions": {
      "presets": [
        "@babel/flow"
      ]
    }
  },
  "rules": {
/*     "no-unused-vars": "error", */
    "no-unused-vars": [
      2,
      {
        "args": "all",
        "varsIgnorePattern": "^clo$|^timer$|^log|^JSP$"
      }
    ],
    "prefer-template": "warn",
    "eqeqeq": [
      "error",
      "smart"
    ],
    "semi": [
      "error",
      "never"
    ],
    "curly": [
      "error",
      "multi-line"
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "max-len": [
      "error",
      {
        "code": 180,
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "new-cap": "off",
    "no-case-declarations": "error",
    "no-floating-promise/no-floating-promise": 2,
    "no-var": "error",
    "prefer-const": "error",
    "no-prototype-builtins": "off",
    "import/order": "error",
    "no-useless-escape": "off",
    "require-await": "error",
    "unused-imports/no-unused-imports": "off",
    "unused-imports/no-unused-vars": "off"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "Paragraph": true,
    "Note": true,
    "ParagaraphBridge": true,
    "Editor": true,
    "DataStore": true,
    "CommandBar": true,
    "Calendar": true,
    "CalendarItem": true,
    "Clipboard": true,
    "NotePlan": true,
    "HTMLView": true,
    "globalThis": true,
    "fetch": true
  },
  "ignorePatterns": [
    ".history",
    "node_modules",
    "flow-typed",
    "*/script.js",
    "np.Templating/lib/support/ejs.js"
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@plugins", "./"],
          ["@helpers", "./helpers"],
          ["@mocks", "./__mocks__"],
          ["NPTemplating", "./np.Templating/lib/NPTemplating"],
          ["TemplatingEngine", "./np.Templating"],
          ["@templating", "./np.Templating/lib"],
          ["@templatingModules", "./np.Templating/lib/support/modules"],
          ["NPGlobals", "./np.Globals/lib/NPGlobals"]
        ]
      }
    }
  }
}
