.DS_Store
node_modules/
dist/
.cache/
*/ts-template/*.*
package-lock.json
.pluginpath
*/.eslintrc
*test*.yaml
*.code-workspace
*.dict
.vscode/launch.json
*/script.js
.vscode/
.pluginpath
.pluginsrc
lcov*
coverage/
