{
    "semi": false,
    "quoteProps": "as-needed",
    "templateCurlySpacing": false,
    "experimentalOperatorPosition": "start",
    "bracketSameLine": false,
    "arrowParens": "always",
    "objectWrap": "preserve"
}