/**
 * CSS specific to reviewList() from jgclark.Reviews plugin
 * Last updated 2026-12-10 for v1.3.0.b2, @jgclark 
 */

body {
  margin: 0px;
	--teamspace-color: #269F54;
}

table {
  /* font-size: 0.9rem; to make text a little smaller - but set elsewhere now */
  border-collapse: collapse; /* always! */
  width: 100%; /* keep wide to avoid different table widths */
  empty-cells: show;
  margin-bottom: 2rem;
}
/* turn off special colouring and underlining for links -- turn on later when desired */
p {
  margin-block-start: 0.5rem; margin-block-end: 0.5rem;
}
/* de-emphasise bold a little */
p b {
  font-weight: 500 !important;
}
a, a:visited, a:active {
  color: inherit; text-decoration-line: none;
}

/* Remove margin-bottom and top from .h3 from last table */
h3, .h3 {
  margin-bottom: unset !important;
  margin-top: unset !important;
}

/* Keep a header stuck to top middle of window */
.topbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  position: sticky;
  top: 0px;
  gap: 0.6rem;
  background-color: var(--bg-sidebar-color); 
  border-top: 1px solid var(--divider-color);
  border-bottom: 1px solid var(--divider-color);
  line-height: 1.5rem; /* any less than this and the apple switches don't line up vertically properly */
  padding: 0.4rem 0.8rem 0.3rem 0.8rem;
  font-size: 0.95rem;
  z-index: 5;

  .perspective-name {
    font-weight: 500;
  }
}

.topbar-item {
  white-space: nowrap;     /* no wrapping inside items */
  flex: 0 0 auto;          /* don’t stretch or shrink */
  min-width: max-content;
}

/* If rather narrow, slide [items] under [info] */
/* This needs to come after the earlier definitions to take priority */
/* @media screen and (max-width: 600px) {
	.topbar {
		grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 0.1rem;
	}
} */

/* Styling for each cell in each row */
td, th {
  font-weight: normal;
  text-align: left;
  padding-right: 0.4rem;
  font-size: 0.92rem;
}
th {
  padding-bottom: 0.2rem;
}
/* Add 0.5rem padding to the left of the first cell in each row */
td:first-child, th:first-child {
  padding-left: 0.5rem;
}

details {
  overflow: hidden;
}

/* Remove default disclosure triangle */
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

/* Style for the container */
details > .content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 800ms ease-out;
}

/* Rotate triangle when open */
details[open] > summary::after {
  transform: rotate(90deg);
}

/* FIXME: Create inner wrapper for smooth animation */
details > .details-content > * {
  overflow: hidden;
}

/* When open, set full height */
details[open] > .content {
  grid-template-rows: 1fr;
}

/* Style the <summmary> tag in the <details> section */
summary {
  /* Create custom triangle with pseudo-element */
  display: flex;
  justify-content: start;
  align-items: end;
  cursor: pointer;
  padding: 8px;
  column-gap: 0.4rem;
}
  /* Animate the triangle icon */
  /* summary i {
    transition: transform 0.2s ease;
  }
  details[open] summary i {
    transform: rotate(180deg);
  }
  summary::-webkit-details-marker {
    display: none;
  }
  */

/* Animate the triangle icon */
summary::after {
  content: '▶';
  transition: all 0.2s ease;
}

tr.projectRow {
  height: calc(var(--body-line-height)*2.5); /* seems to function as min-height, which itself doesn't work */
}
tr.folder-header-row {
  column-span: all;
  vertical-align: bottom;
  background-color: var(--bg-main-color);
  border-top: none;
  border-bottom: 0.6px solid var(--tint-color);
}

.folder-header {
  color: var(--tint-color);
  padding-top: 0.7rem;
  /* don't set padding-bottom to make it easier to line up rest of th in the row */
  padding-left: 0.5rem;
  padding-right: 0.3rem;
}

.folder-name {
  font-size: 1.0rem;
  font-weight: bold;
  padding-top: 0.8rem;
  padding-right: 1.0rem;
}

.first-col-indicator {
  padding: 0.5em 0.4rem 0.2rem 0.4rem; /* works but I don't understand why */
  text-align: center;
  align-content: center; /* not sure if this does anything? */
}

/* remove L-R borders for now */
td {
  line-height: 1.35rem;
  /* background-color: var(--bg-alt-color); */
  padding: 3px 0.2rem 2px 0.2rem;
  border-left: none;
  border-right: none;
}
/* turn on top border for tbody */
tbody tr:first-child {
  border-top: 1px solid rgb(from var(--tint-color) r g b / 0.3); /*0.3px solid var(--tint-color);*/
}
/* turn on bottom border for tbody */
tbody tr:last-child {
  border-bottom: 1px solid rgb(from var(--tint-color) r g b / 0.3); /*1.0px solid var(--tint-color);*/
}
/* turn off outer table left border */
tr td:first-child {
  border-left: 0px;
}
/* turn off outer table left border */
tr th:first-child {
  border-left: 0px; 
}
/* turn off outer table right borders */
tr td:last-child, tr th:last-child {
  border-right: 0px;
}
tr.projectRow {
  /* border-bottom: 0.25px solid rgba(120,120,120,0.3); */
  background-color: var(--bg-mid-color);
}
/* tweak color of every other row slightly */
tr.projectRow:nth-child(even) {
  background-color: var(--bg-alt-color);
}

/* allow multi-column flow: set max columns and min width, and some other bits and pieces */
.multi-cols {
  column-count: 3; 
  column-width: 30rem;
  column-gap: 1rem;
  column-rule: 1px dotted rgb(from var(--tint-color) r g b / 0.5);
}

/* -------------------------------------------------------- */

/* 
 * Darken background under any dialogs when open (See https://developer.mozilla.org/en-US/docs/Web/CSS/::backdrop)
 */
dialog::backdrop {
  background: rgba(0,0,0,0.5);
}

/* -------------------------------------------------------- */
@layer A { /* all buttons, but at lower priority */
	button, input {
		color: var(--fg-main-color);
		background-color: var(--bg-mid-color);
		border: 1px solid rgb(from var(--fg-main-color) r g b / 0.3);
		box-shadow: 1px 1px 1px 0px rgb(from var(--fg-main-color) r g b / 0.2);
    border-radius: 4px;
    font-weight: 500;

    /* set backgrounds a little lighter on hover */
    &:hover {
      /* background-color: hsl(from var(--bg-sidebar-color) h s calc(l*1.4)); TODO(later): revert to this */
      /* background-color: color(var(--bg-sidebar-color) lightness(40%)); */
      filter: brightness(103%);
    }
	}
}

/* Show click pointer over buttons and equivalent */
button, .fake-button, .clickTarget {
	cursor: pointer;
}

/* For buttons that trigger callbacks */
.PCButton {
	color: var(--fg-main-color);
	background-color: var(--bg-alt-color);
  /* add a clearer border to all buttons */
  border: 1px solid rgb(from var(--fg-main-color) r g b / 0.3);
	box-shadow: 1px 1px 1px 0px rgb(from var(--fg-main-color) r g b / 0.2);
	padding: 2px 3px 0px 3px;
	margin: 2px 4px 0px 0px;
	white-space: nowrap;
	cursor: pointer;
	font-size: 0.9rem;

  /* color FA icons in these Buttons */
  i {
    color: var(--tint-color);
  }

  /* set backgrounds a little lighter on hover */
  &:hover {
    filter: brightness(103%);
  }
}

.dialogTrigger {
	color: rgb(from var(--fg-main-color) r g b / 0.5);
	cursor: pointer;
}

/* Add tooltips to these buttons, thanks to CSS-only technique at https://www.youtube.com/watch?v=M4lQwiUvGlY&t=157s */
.tooltip {
	position: relative;
	/* cursor: help; */
}
.tooltip::before, .tooltip::after {
	position: absolute;
	left: 50%;
	display: none;
	transition: all ease 0.3s;
	transition-delay: 0.8;
}
/* Set tooltip little bit*/
.tooltip::before {
	content: "";
	border-width: 10px 8px 0 8px;
	border-style: solid;
	border-color: var(--bg-main-color) transparent transparent transparent;
	margin-left: -8px;
	top: -12px;
}
.tooltip::after {
	content: attr(data-tooltip);
	margin-left: -10px;
	padding: 0.3rem;
	top: -12px;
	font-size: 0.85rem;
	color: var(--fg-main-color);
	background: var(--bg-main-color);
	border: 1px solid var(--tint-color);
	border-radius: 6px;
	transform: translateY(-100%);
}

.tooltip:hover::before, .tooltip:hover::after {
	display: block;
}

/* -------------------------------------------------------- */
/* make noteTitles bold and coloured */
.noteTitle {
  color: var(--tint-color);
  font-size: 1.05rem; /* TODO: Gradually reduce from 1.1rem to 1.0rem? */
  font-weight: 500;
  text-decoration: none;
}
/* make noteTitle links underlined on mouse hover */
.noteTitle a:hover {
  text-decoration: underline;
}

/* a top-right fixed position */
.fix-top-right {
  position: absolute; top: 1.7rem; right: 1rem;
}

/* ---- ICONS etc. ----------------------------------------- */
/* set all FA icons to default to tint color */
i.fa-solid, i.fa-regular {
  /* color: var(--tint-color); */
}
/* make checkbox display larger, and like in the app. */
.checkbox {
  font-family: "noteplanstate"; font-size: 1.4rem;
}
/* Set size of percent-display rings in first col */
.percent-ring {
  width: 2rem; height: 2rem;
}
/* details of ring-circle that can be set in CSS */
.percent-ring-circle {
  transition: 0.5s stroke-dashoffset; transform: rotate(-90deg); transform-origin: 50% 50%;
}
/* details of ring text that can be set in CSS */
.circle-percent-text {
  font-family: "Avenir Next"; font-size: 2.4rem; font-weight: 500; color: var(--fg-main-color);
}
/* set size of FA icon used in place of percent-display rings in first col */
.circle-icon {
  font-size: 1.8rem;
}
/* add space before/after items (particularly icons) */
.pad-left {
	padding-left: 0.3rem;
}
.pad-left-larger {
	padding-left: 0.5rem;
}
.pad-right {
	padding-right: 0.2rem;
}

/* add more space before items */
.pad-left-more {
	margin-left: 0.5rem;
}

/* ---- TOOLTIPs ------------------------------------------- */
/* Tooltip block */
.tooltip { position: relative; display: inline-block; }
/* Tooltip text */
.tooltip .tooltiptext { visibility: hidden; width: 180px; font-weight: 400; font-style: normal; line-height: 1.0rem; color: var(--fg-main-color); background-color: var(--bg-alt-color); border: 1px solid var(--tint-color); text-align: center; padding: 5px 0; border-radius: 6px; position: absolute; z-index: 1; bottom: 120%; left: 50%; margin-left: -90px; opacity: 0; transition: opacity 0.4s; }
/* Fade in tooltip */
.tooltip:hover .tooltiptext { opacity: 1; position: absolute; z-index: 1; }
/* Make an arrow under tooltip */
.tooltip .tooltiptext::after {
    content: ""; position: absolute; top: 100%; /* At the bottom of the tooltip */ left: 50%; margin-left: -5px; border: 8px solid; border-color: var(--tint-color) transparent transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* For fancy toggle as checkbox */
/* from [Pure CSS3 iOS switch checkbox.](https://codeburst.io/pure-css3-input-as-the-ios-checkbox-8b6347d5cefb) */
input.apple-switch {
  position: relative;
  appearance: none; /* FIXME: deprecated approach */
  outline: none;
  width: 2.0rem; /* 50px; */
  height: 1.1rem; /* 30px; */
  background-color: #EEE;
  border: 1px solid #DDD;
  border-radius: 2.0rem; /* 50px; */
  /* box-shadow: inset -0.8rem 0 0 0 #fff; /* -20px */
	/* margin-top: 0px; */
	margin-right: 4px;
}
input.apple-switch:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 1px;
  background: #FFF;
  width: 1.0rem; /* 26px; */
  height: 1.0rem; /* 26px; */
  border-radius: 50%;
  box-shadow: 1px 0px 1px rgba(0,0,0,0.2);
  margin-right: 1.0rem;
}
input.apple-switch:checked {
  box-shadow: inset 0.8rem 0 0 0 #4ac25e; /* 20px; */
  border-color: #4ac25e;
}
input.apple-switch:checked:after {
  left: 0.8rem; /* 20px; */
  box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}
input, label {
  vertical-align: top;
}

ul {
  display: flex;
  padding: 0.4rem;
  margin: 0rem;
}
li {
  break-inside: avoid;
  display: block;
  padding-inline: 0.4rem;
}

.fake-checkbox {
  font-size: 1.0rem;
  }
.fake-checkbox::before {
  content: '●';
}
