/**
  CSS for the items Actions Dialog 
  Last updated: 2024-10-01 for v1.0.0.b1 by @jgclark
  */
dialog {
  /* Unset the margin around it, to allow absolute positioning by left/top */
  margin: 0rem;
  color: var(--fg-main-color);
  background: var(--bg-main-color);
  padding: 0rem;
  border: solid 1px var(--tint-color);
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
}

dialog:modal {
  max-width: 92%;
}

.dialogTitle {
  display: grid;
  grid-template-columns: auto max-content; /* title then close button */
  background: var(--bg-alt-color);
  padding-block-start: 0.7rem;
  padding-inline-start: 1.0rem;
  padding-inline-end: 0.5rem;
  padding-block-end: 0.2rem;
  border-block-end: 1px solid gray;
  /* margin-block-end: 4px; */
}

.closeButton {
	font-size: unset;
  color: var(--tint-color);
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 0px 5px;
}

.dialogItemNote {
  font-weight: 600;
}

.dialogBody {
  padding-block-start: 0.5rem;
  padding-inline-start: 1.0rem;
  padding-inline-end: 0.5rem;
  padding-block-end: 0.6rem;
}

.dialogDescription {
  padding-block-start: 5px;
}

.buttonGrid {
  display: grid;
  grid-template-columns: max-content minmax(15rem, 28rem);
  /* grid-template-columns: minmax(4rem, 6rem) minmax(15rem, auto); */
  column-gap: 0.5rem;
  row-gap: 0.2rem;
  /* vertically align content items in center */
  align-items: center; 
}

.buttonGrid div:nth-child(odd) {
  align-self: center;
  justify-self: end;
}

.buttonGrid div:nth-last-child(1) {
  /* Put very last div (Close button) on RHS */
  justify-self: end;
}

/* for Dialog main buttons: a little more pronounced */
.mainButton {
	background-color: var(--bg-alt-color);
	font-size: 0.9rem;
	font-weight: 600;
	border: 1px solid var(--tint-color);
	/* box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3); */
	padding: 2px 5px 2px 5px;
	margin: 2px 4px;
}

.dialogBody button {
  font-size: 0.85rem;
  font-weight: 400;
  border-radius: 4px;
  padding: 1px 4px 1px 4px;
  margin: 3px 1px;
  /* background: var(--bg-alt-color);
  border: 1px solid var(--tint-color);
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3);*/
}

.itemActionsDialog {
  max-width: 32rem;
  /* max-height: 25rem; */
}

.fullTextInput {
  font-size: 0.85rem;
  width: calc(100% - 4rem);
  border-radius: 4px;
  background-color: var(--bg-mid-color);
}