/* CSS specific to Section components and their children.
/* Last updated 2026-01-16 for v2.4.0.b16 by @jgclark */

/* Animation keyframes for section appearance and removal */
@keyframes sectionFadeIn {
	from {
		opacity: 0;
		transform: translateY(-12px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes sectionFadeOut {
	from {
		opacity: 1;
		transform: translateY(0);
		max-height: 1000px;
	}
	to {
		opacity: 0;
		transform: translateY(-12px);
		max-height: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 0;
		overflow: hidden;
	}
}

/* The main grid for a section: sectionInfo then sectionGrid. */
.section {
	display: grid;
	grid-template-columns: [info] 13rem [items] auto;
	grid-template-rows: min-content;
	/* turn on top border (from theme CSS) */
	border-left: 1px solid var(--divider-color);
	border-right: 1px solid var(--divider-color);
	/* border-bottom: 1px solid var(--divider-color); */
	/* position: relative; */
	/* Subtle animation when section appears */
	/* Note: turning off, as the amount of re-rendering introduces too much flickering */	/* animation: sectionFadeIn 0.3s ease-out; */
}

/* Class for fade-out animation when section is being removed */
/* Note: This requires React to apply the class before unmounting for the animation to be visible */
.section.sectionRemoving {
	/* Note: turning off, as the amount of re-rendering introduces too much flickering */
	/* animation: sectionFadeOut 0.3s ease-in forwards; */
}

.sectionInfo {
	display: block;
	/* these padding values have been tweaked to be optically correct, at least for JGC's fonts */
	padding-block-start: 4px;
	padding-block-end: 4px;
	padding-inline-start: 0.6rem;
	padding-inline-end: 0.5rem;
	color: var(--fg-sidebar-color);
	background-color: var(--bg-sidebar-color);
	border-right: 1px solid var(--divider-color);
}

/* Allow for dashed top border on referenced sections, but otherwise all solid bottom border */
.referencedSectionInfo {
	border-top: 1px dotted var(--divider-color);
	/* border-bottom: 1px solid var(--divider-color); */
}
.nonReferencedSectionInfo {
	border-top: 1px solid var(--divider-color);
	/* border-bottom: 1px solid var(--divider-color); */
}
/* Add bottom border on last of the sections */
.section:last-of-type {
	border-bottom: 1px solid var(--divider-color);
}

/* Idea: For referenced sections, e.g. >This Month. As above, but indented slightly. TODO(later): decide whether to keep this. */
.sectionInfoIndented {
	padding-inline-start: 1.6rem;
}

/* First part of sectionInfo. Grid to contain sectionIcon, sectionName, .buttonsWithoutBordersOrBackground */
.sectionInfoFirstLine {
	display: grid;
	grid-template-columns: auto auto;
	gap: 4px;
	/* background-color: blue; */

	/* Remove other background-color for buttons here */
	/* TODO: Ideally change buttons in Dashboard.css so this isn't needed. */
	button {
		background-color: unset;
		color: unset;
	}
}

.sectionIcon {
	font-size: 1.1rem;
	/* font-weight: 400; */
	text-align: center;
	padding-right: 0.3rem;
	padding-top: 1px;
}

.sectionName {
	font-size: 1.0rem;
	/* make noteTitles bold */
	font-weight: 700;
	margin: unset;
	/* padding: 3px 0px 0px; */
	justify-self: start;
}

/* Next part of sectionInfo. */
.sectionInfoSecondLine {
	/* contains DIVs, so need to flex to keep in the same line */
	display: flex;
	flex-direction: row;
	gap: 0.3rem;
	font-size: 0.9rem;
	align-self: center;
}

.sectionDescription {
	align-self: start;
	flex-grow: 1;
	/* a bit smaller */
	padding-top: 0.1rem;
	/* Ensure we don't get a single word orphan on a line. Not sure if it is supported in NotePlan's version of Safari. */
	text-wrap: pretty;
}

.sectionCompletionCircle {
	padding-top: 3px;
	padding-right: 1px;
	justify-self: end;
}

/* If very narrow -- for small iPhone drop .sectionDescription */
@media screen and (max-width: 430px) {
	.sectionDescription {
		display: none;
	}
}

/* Inner grid for SectionItems -- allow up to 3 columns if wide enough */
.sectionItemsGrid {
	font-size: 1.0rem;
	/* allow multi-column flow: set max columns and min width, and some other bits and pieces. Reference: https://drafts.csswg.org/css-multicol/#the-multi-column-model */
	column-count: 3;
	column-width: 24rem; /* 25rem; */
	column-rule: 1px solid var(--divider-color);
	column-fill: auto;
	padding-inline-start: 0.75rem;
	padding-block-start: 0.3rem;
	padding-block-end: 0.1rem;
}

/* If rather narrow, slide [items] under [info] */
/* This needs to come after the earlier definitions to take priority */
@media screen and (max-width: 600px) {
	.section {
		grid-template-columns: 1fr;
	}

	.sectionInfo {
		/* now make this area grid column-based not row-based */
		display: grid;
		/* put all items essentially on a baseline */
		align-items: baseline;
		grid-template-columns: max-content max-content auto;
		grid-column-gap: 1.0rem;
		border-top: solid 0.5px var(--tint-color);
		border-bottom: solid 1px var(--divider-color);
		padding-top: 0.2rem;
		padding-bottom: 0.1rem;
	}

	.sectionInfoIndented {
		padding-inline-start: 1.0rem;
	}

	.sectionName {
		/* turn off padding under section name */
		padding-top: 0.1rem;
		padding-bottom: 0rem;
		padding-left: 1px;
		/* some padding to right */
		padding-right: 0.5rem;
	}

	/* Override justification of these buttons in section title area */
	.buttonsWithoutBordersOrBackground {
		justify-self: start;
	}
}

.projectProgress {
	font-size: 0.9rem;
}
