/* CSS for flipping animations */
@keyframes flip-out {
    0% {
      transform: rotateY(0deg);
      opacity: 1;
    }
    100% {
      transform: rotateY(90deg);
      opacity: 0;
    }
  }
  
  @keyframes flip-in {
    0% {
      transform: rotateY(-90deg);
      opacity: 0;
    }
    100% {
      transform: rotateY(0deg);
      opacity: 1;
    }
  }
  
  .flip-out {
    animation: flip-out 0.5s forwards;
  }
  
  .flip-in {
    animation: flip-in 0.5s forwards;
  }
  
  /*************************************/

  /* CSS for zooming animations */
@keyframes zoom-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-out {
  animation: zoom-out 0.5s forwards;
}

.zoom-in {
  animation: zoom-in 0.5s forwards;
}
