/**
  CSS for the items Actions Dialog 
  Last updated: 5.5.2024 for v2.0.0 by @jgclark
  */
dialog:modal {
  max-width: 92%;
}

/* @media screen and (width <= 420px) {
  dialog:modal {
    max-width: 90%;
    left: 5%;
  }
} */

dialog {
  /* Unset the margin around it, to allow absolute positioning by left/top */
  display:block;
  margin: 0rem 0.5rem;
  color: var(--fg-sidebar-color);
  background: var(--bg-sidebar-color);
  padding: 0rem;
  border: solid 1px var(--divider-color);
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
  z-index: 50;
  max-width: 98%;
}

.dialogTitle {
  display: grid;
  background: var(--bg-sidebar-color);
  padding-block-start: 0.6rem;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
  padding-block-end: 0.2rem;
  border-block-end: 1px solid var(--divider-color);
  /* margin-block-end: 4px; */
  grid-template-columns: auto auto;
  /* vertically align content items in center */
  align-items: center; 
}

.dialogTitle div:nth-last-child(1) {
  /* Put very last div (Close button etc.) on RHS */
  justify-self: end;
  /* margin-bottom: 5px; */
}

.dialogItemNote {
  font-weight: 600;
}

.dialogItemNoteType {
  font-weight: 400;
}

.dialogBody {
  padding-block-start: 0.3rem;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
  padding-block-end: 0.6rem;
}

.buttonGrid {
  display: grid;
  grid-template-columns: auto minmax(15rem, auto);
  column-gap: 0.3rem;
  row-gap: 0.2rem;
  /* vertically align content items in center */
  align-items: center; 
}

.buttonGrid div:nth-child(odd) {
  align-self: self-start;
  padding-block-start: 5px;
  justify-self: end;
}

/* Put very last div (Close button) on RHS -- no longer used */
/* .buttonGrid div:nth-last-child(1) {
  justify-self: end;
} */

.buttonGrid div:nth-child(1) {
  /* Put very first div down a bit to try to align with input field */
  padding-block-start: 6px;
}

/* for Dialog main buttons: a little more pronounced */
.mainButton {
	background-color: var(--bg-alt-color);
	font-size: 0.9rem;
	font-weight: 600;
	border: 1px solid var(--divider-color);
	padding: 2px 5px 2px 5px;
	margin: 2px 4px;
}

.dialogBody button {
  font-size: 0.85rem;
  font-weight: 400;
  /* add a clearer border to buttons */
  /* border: 1px solid rgb(from var(--fg-main-color) r g b / 0.7); */
  border: 1px solid var(--divider-color);
  border-radius: 4px;
  padding: 1px 4px 1px 4px;
  margin: 3px 2px;
}

.itemActionsDialog {
  max-width: 32rem;
}

.fullTextInput {
  width: calc(100% - 6rem); /* allow space for icon before and button after */
  font-size: 0.85rem;
  font-weight: 600;
  padding: 1px 4px 1px 4px;
  border-radius: 4px;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

/* for iphone, allow the text to wrap */
.iOS .fullTextArea {
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  width: 100%; /* Adjust the width as needed */
  min-height: 50px; /* Minimum height */
  max-height: 500px; /* Maximum height */
  overflow-y: hidden; /* Hide vertical scrollbar */
  resize: none; /* Prevent manual resizing */
}

/* iOS devices require an override for font size, otherwise it does a nasty zoom in effect 
 * discovered via https://stackoverflow.com/questions/68973232/how-to-handle-safari-ios-zoom-on-input-fields/69125139#69125139
 * PS Apple says user-scalable, min-scale and max-scale settings are ignored: https://webkit.org/blog/7367/new-interaction-behaviors-in-ios-10/ 
*/ 
@media screen and (width <= 420px) {
  .fullTextInput {
    font-size: 11pt;
  }
}

/* set fa icon colour to tint color */
i.fa-solid, i.fa-regular {
  color: var(--tint-color);
}

.closeButton {
	font-size: unset;
  background-color: none;
  border: none;
  box-shadow: none;
  margin-right: 5px;
}
.skip-button {
	font-size: unset;
  background-color: none;
  border: none;
  box-shadow: none;
  margin-right: 0px;
}

.interactive-processing-status {
  margin-right: 5px;
  margin-top: 2px;
}
