/* Ensure the dropdown content is completely hidden when closed */
.dropdown-content {
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    background-color: var(--bg-alt-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* z-index: 1; */
    overflow: hidden; /* Hide content when collapsed */
    max-height: 0; /* Initially hidden */
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out; /* Transition for the unfurl effect */
    opacity: 0;
  }
  
  /* Keyframes for the unfurl animation */
  @keyframes unfurl {
    0% {
      max-height: 0;
      overflow-y: hidden; /* Hide scrollbar */
    }
    100% {
      max-height: 80vh; /* Adjusted to viewport height */
      overflow-y: hidden; /* Hide scrollbar until animation is complete */
    }
  }
  
  /* Keyframes for showing scrollbar after unfurling */
  @keyframes showScrollbar {
    0% {
      overflow-y: hidden; /* Hide scrollbar */
    }
    100% {
      overflow-y: auto; /* Show scrollbar */
    }
  }
  
  /* Show the dropdown content when the menu is open */
  .dropdown-content.show {
    display: block;
    width: max-content; /* Note: needs to be overridden by the settings menu which otherwise goes super-wide */
    /* move slightly to right to flow more naturally from the button it comes from */
    right: -1rem;
    animation: unfurl 0.3s ease-out forwards, showScrollbar 0s 0.3s forwards;
    opacity: 1;
  }
  
  /* Flex container to align dropdowns */
  #dropdowns {
    display: flex;
    /* Add vertical padding between each dropdown */
    gap: 10px;
    /* Align items vertically at the top */
    align-items: flex-start;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Style for switch-line */
  .switch-line {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
  
  /* Style for switch-input */
  .switch-input {
    margin: 0;
  }
  
  /* Style for switch-label */
  .switch-label {
    font-weight: 400;
    color: var(--fg-alt-color);
    flex-shrink: 0;
  }
  
  /* Style for input-box-container */
  .input-box-container {
    display: flex;
    flex-direction: column;
    width: 98%;
  }
  
  /* Style for input-box-label */
  .input-box-label {
    margin-bottom: 5px;
    font-weight: 600;
    color: var(--fg-alt-color);
  }
  
  /* Style for input-box-wrapper */
  .input-box-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  /* Style for input-box-input */
  .input-box-input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  /* Focus style for input-box-input */
  .input-box-input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  /* Style for input-box-save */
  .input-box-save {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: var(--tint-color);
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  /* Disabled style for input-box-save */
  .input-box-save:disabled {
    background-color: #ccc;
    color: #aaa;
    cursor: not-allowed;
    box-shadow: none;
    display: none;
  }
  
  /* Hover style for enabled input-box-save */
  .input-box-save:not(:disabled):hover {
    background-color: #0056b3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .dashboard-settings .dropdown-content.show {
    padding-bottom: 40px;
  }
  
  .dashboard-settings .switch-line {
    justify-content: flex-start;
  }
  
  .dashboard-settings .switch-line, .dropdown-item,
  .input-box-container {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-bottom: 0.5rem;
  }
  
  .dropdown-item {
    margin-left: 0.6rem;
  }
  
  /* Style for combobox-container */
  .combobox-container {
    display: flex;
    flex-direction: column;
    width: 98%;
  }
  
  /* Style for combobox-label */
  .combobox-label {
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--fg-alt-color);
  }
  
  /* Style for combobox-wrapper */
  .combobox-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  }
  
  /* Style for combobox-input */
  .combobox-input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Focus style for combobox-input */
  .combobox-input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  /* Style for combobox-arrow */
  .combobox-arrow {
    position: absolute;
    right: 10px;
    pointer-events: none;
    font-size: 12px;
    color: var(--tint-color)
  }
  
  /* Style for combobox-dropdown */
  .combobox-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: var(--bg-main-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 5; /* needs to be able to cover other content in dropdown */
  }
  
  /* Style for combobox-option */
  .combobox-option {
    padding: 8px 12px;
    cursor: pointer;
    color: var(--fg-main-color);
    transition: background-color 0.3s;
  }
  
  /* Hover style for combobox option */
  .combobox-option:hover {
    background-color: var(--bg-alt-color);
    color: var(--fg-alt-color);
  }
  
  .dropdown-heading, .dropdown-title {
    font-size: larger;
    font-weight: 500;
    color: var(--tint-color);
    padding-top: 5px;
    padding-bottom: 13px;
  }

  .dropdown-header {
    font-size: large;
    font-weight: 600;
    background-color: var(--bg-alt-color);
    color: var(--tint-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: -4px;
    /* width:100vw; -- this was making it go way too wide */
  }