/* CSS specific to Header component from jgclark.Dashboard plugin */
/* Last updated 2024-08-05 for v2.1.0.a4 by @jgclark */

/* Settings for Grid-based layout */
.header {
	font-size: 0.92rem;
	/* Define grid-template-areas for better control */
	display: grid;
	/* Allocate space for each area */
	grid-template-areas: "refresh lastUpdated counts empty perspective dropdowns";
	grid-template-columns: max-content max-content max-content 1fr max-content min-content;
	/* Vertical alignment */
	align-items: baseline;
	/* Space between grid items */
	gap: 0.5rem;
	/* Padding around the header content */
	padding: 0.4rem;
	padding-right: 1rem;
	background-color: var(--bg-sidebar-color);
	/* Ensure the header uses the full width -- if contained width:Nvw set to less than 100 */
	/* width: 100%; */
  /* stick to top */
	position: sticky;
	z-index: 10;
	top: 0px;
	border-bottom: solid 1px var(--divider-color);
}

/* MESSAGE_BANNER w3.css overrides */
.iOS .header, .iPadOS .header {
  padding-right: 2.2rem; 
  box-sizing: border-box; /* Ensure the padding is included in the element's total width */
  /* make room for NP sheet "X" button */
}

.lastFullRefresh {
	/* Assign the area */
	grid-area: lastUpdated;
	/* This ensures that the content of these divs is also centered */
	align-items: center;
	/* Make a fixed width so that as it changes it doesn't change the Refresh button position */
	width: 9rem;

}
/* Turn fixed width off on narrow screens */
@media screen and (max-width: 600px) {
	.lastFullRefresh {
		width: unset;
	}
}

.refresh {
	/* Assign the area */
	grid-area: refresh;
}

/* may use in future */
.totalCounts {
	/* Assign the area */
	grid-area: counts;
	align-self: unset; /* TEST: shouldn't be needed but otherwise lands up with 'end' */
	
	/* Make sure totalCounts only shows when necessary */
	@media screen and (max-width: 500px) {
		display: none;
	}
}

.perspectiveName {
	/* Assign the area */
	grid-area: perspective;
}

.dropdownButtons {
	grid-area: dropdowns;
	/* justify-self: end; */
	gap: 0.9rem;
	/* Align to the right edge */
	justify-self: end;
	justify-content: end;
	/* margin-right: 1rem; */
}

/* Widen button gaps on touchscreen interfaces, and leave gap for extra close button that appears */
.iOS .dropdownButtons, .iPadOS .dropdownButtons {
	gap: 1.2rem !important;
	margin-right: 2rem !important;
}

/* For buttons in header area */
.HAButton {
	font-size: 0.92rem;
	font-weight: 500;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	/* a little internal padding to right */
	padding: 2px 3px 0px 3px;
	/* a little external margin */
	margin: 2px 4px 0px 0px;
	white-space: nowrap;
	cursor: pointer;
	/* Center the button vertically if it's not aligning properly */
	align-self: center;

	/* fa-icons in HA Button */
	&:i {
		color: var(--tint-color);
	}
}

/* droppdown button icons */
.dropdownButtons i {
	color: var(--tint-color);
	cursor: pointer;
	/* Make button a little darker on hover */
	&:hover {
		color: hsl(from var(--tint-color) h s calc(l*0.8));
	}
}

/* ---------------------------------- */
/* Style for combobox-container */
.header .combobox-container {
    display: flex;
    flex-direction: column;
}

/* Style for combobox-container (compact version) */
.header .combobox-container-compact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
}

/* Style for combobox-wrapper */
.header .combobox-wrapper {
    display: flex;
    align-items: end;
    gap: 10px;
    position: relative;
    width: fit-content;
}

/* Style for combobox-label */
.header .combobox-label {
    font-weight: 500;
    color: var(--fg-alt-color);
}

/* Style for combobox-input */
.header .combobox-input {
    flex: 1;
    padding: 3px 6px;
    /* background-color: var(--bg-main-color); */
    border: 0.5px solid rgb(from var(--fg-main-color) r g b / 0.3);
    border-radius: 4px;
    font-size: 0.9rem;
    /* width: 100%; */
}

/* Focus style for combobox-input */
.header .combobox-input:focus {
    border-color: var(--hashtag-color);
    outline: none;
    box-shadow: 0 0 3px var(--hashtag-color);
}

/* Style for combobox-arrow */
.header .combobox-arrow {
    position: absolute;
    right: 0.4rem;
    pointer-events: none;
    font-size: larger;
    color: var(--tint-color);
    align-self: center;
}

/* Style for combobox-dropdown */
.header .combobox-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid var(--divider-color);
    border-radius: 4px;

    /* background-color: var(--bg-main-color); */
		/* set button/input backgrounds a little lighter */
		background-color: hsl(from var(--bg-sidebar-color) h s calc(l*1.4));

    box-shadow: 0 2px 5px var(--divider-color);
    z-index: 5;
}

/* Style for combobox-option */
.header .combobox-option {
    cursor: pointer;
    color: var(--fg-main-color);
    padding: 0.2rem 0rem 0.2rem 0.4rem;
    min-height: 0.9rem;
    /* transition: background-color 0.2s; */
}

/* Hover style for combobox option */
.header .combobox-option:hover {
    background-color: var(--bg-alt-color);
    color: var(--fg-alt-color);
}