/* CSS specific to Header component from jgclark.Dashboard plugin */
/* Last updated 2024-07-17 for v2.0.3 by @jgclark */

/* Settings for Grid-based layout */
.header {
	font-size: 0.92rem;
	/* Define grid-template-areas for better control */
	display: grid;
	/* Allocate space for each area */
	grid-template-areas: "lastUpdated refresh counts empty dropdowns";
	grid-template-columns: max-content max-content max-content 1fr min-content;
	/* Vertical alignment */
	align-items: baseline;
	/* Space between grid items */
	gap: 0.5rem;
	/* Padding around the header content */
	padding: 0.4rem;
	padding-right: 1rem;
	background-color: var(--bg-sidebar-color);
	/* Ensure the header uses the full width -- if contained width:Nvw set to less than 100 */
	/* width: 100%; */
  /* stick to top */
	position: sticky;
	z-index: 10;
	top: 0px;
	border-bottom: solid 1px var(--divider-color);
}

/* MESSAGE_BANNER w3.css overrides */
.iOS .header, .iPadOS .header {
  padding-right: 2.2rem; 
  box-sizing: border-box; /* Ensure the padding is included in the element's total width */
  /* make room for NP sheet "X" button */
}

.lastFullRefresh {
	/* Assign the area */
	grid-area: lastUpdated;
	/* This ensures that the content of these divs is also centered */
	align-items: center;
	/* Make a fixed width so that as it changes it doesn't change the Refresh button position */
	width: 10rem;

}
/* Turn fixed width off on narrow screens */
@media screen and (max-width: 600px) {
	.lastFullRefresh {
		width: unset;
	}
}

.refresh {
	/* Assign the area */
	grid-area: refresh;
}

/* may use in future */
.totalCounts {
	/* Assign the area */
	grid-area: counts;
	align-self: unset; /* TEST: shouldn't be needed but otherwise lands up with 'end' */
	
	/* Make sure totalCounts only shows when necessary */
	@media screen and (max-width: 500px) {
		display: none;
	}
}

.dropdownButtons {
	grid-area: dropdowns;
	/* justify-self: end; */
	gap: 0.9rem;
	/* Align to the right edge */
	justify-self: end;
	justify-content: end;
	/* margin-right: 1rem; */
}

/* Widen button gaps on touchscreen interfaces, and leave gap for extra close button that appears */
.iOS .dropdownButtons, .iPadOS .dropdownButtons {
	gap: 1.2rem !important;
	margin-right: 2rem !important;
}

/* droppdown button icons */
.dropdownButtons i {
	/* Assign the area */
	color: var(--tint-color);
}

/* for narrow screens (iOS) ... */
/* FIXME: needs to apply to iPad as well */
/* @media screen and (width <= 450px) { */
	/* Widen button gaps  */
	/* .dropdownButtons {
		gap: 1.2rem !important;
	}
} */
