/* CSS specific to Header component from jgclark.Dashboard plugin */
/* Last updated for v2.1.0.a */
/* Note: until 2.1.0.a8 was grid-based. But from a9 realised that flex is the natural, and thus easier, tool to use. */

/* Settings for flex-based layout */
.header {
	font-size: 0.92rem;
	/* Define grid-template-areas for better control */
	/* display: grid; */
	display: flex;
	/* Allocate space for each area */
	/* grid-template-areas: "perspective refresh lastUpdated empty1 counts empty2 dropdowns";
	grid-template-columns: max-content max-content max-content 1fr max-content 2fr min-content; */
	/* Vertical alignment */
	align-items: baseline;
	/* Space between grid items */
	gap: 0.75rem;
	/* Padding around the header content */
	padding: 0.4rem 1.0rem 0.4rem 0.5rem;
	background-color: var(--bg-sidebar-color);
	/* Ensure the header uses the full width -- if contained width:Nvw set to less than 100 */
	/* width: 100%; */
  /* stick to top */
	position: sticky;
	z-index: 10;
	top: 0px;
	border-bottom: solid 1px var(--divider-color);
}

/* MESSAGE_BANNER w3.css overrides */
.iOS .header, .iPadOS .header {
  padding-right: 2.2rem; 
  box-sizing: border-box; /* Ensure the padding is included in the element's total width */
  /* make room for NP sheet "X" button */
}

.lastFullRefresh {
	/* Assign the area */
	/* grid-area: lastUpdated; */
	/* This ensures that the content of these divs is also centered */
	flex-grow: 1;
	align-items: center;
	/* Make a fixed width so that as it changes it doesn't change the Refresh button position */
	/* width: 9rem; */
}

/* Turn fixed width off on narrow screens */
@media screen and (max-width: 600px) {
	.lastFullRefresh {
		width: unset;
	}
}

.refresh {
	/* Assign the area */
	/* grid-area: refresh; */
}

/* may use in future */
.totalCounts {
	/* Assign the area */
	/* grid-area: counts; */
	/* align-self: unset; TEST: shouldn't be needed but otherwise lands up with 'end' */
	flex-grow: 1;

	/* Make sure totalCounts only shows when necessary */
	@media screen and (max-width: 600px) {
		display: none;
	}
}

.perspectiveName {
	/* Assign the area */
	/* grid-area: perspective; */
	align-self: center;
}

.dropdownButtons {
	/* grid-area: dropdowns; */
	display: flex;
	/* justify-self: end; */
	/* gap between buttons */
	gap: 0.9rem;
	/* Align to the right edge */
	justify-self: end;
	justify-content: end;
	margin-left: 0.4rem;

	/* droppdown button icons through FontAwesome */
	i {
		color: var(--tint-color);
		cursor: pointer;
		/* Make button a little darker on hover */
		&:hover {
			/* color: hsl(from var(--tint-color) h s calc(l*0.8)); */
			color: hsl(from currentcolor h s calc(l*0.8));
		}
	}
}

/* Widen button gaps on touchscreen interfaces, and leave gap for extra close button that appears */
.iOS .dropdownButtons, .iPadOS .dropdownButtons {
	gap: 1.2rem !important;
	margin-right: 2rem !important;
}

/* For buttons in header area */
/* TODO: Ideally rationalise this with the addButton icon-buttons in the sectionInfo area */
.HAButton {
	font-size: 0.92rem;
	font-weight: 500;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	/* a little internal padding to right */
	padding: 2px 3px 0px 3px;
	/* a little external margin */
	margin: 2px 4px 0px 0px;
	white-space: nowrap;
	cursor: pointer;
	/* Center the button vertically if it's not aligning properly */
	align-self: center;

	/* color FA icons in these Buttons */
	i {
		color: var(--tint-color);
	}
}

/* Give a little space to left of hardRefreshButton */
/* Note: needs to come after HAButton definition above */
.hardRefreshButton {
	margin-left: 0.2rem;
}
