.search-icon {
    cursor: pointer;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;

    .search-input {
        padding: 2px 4px 0px 4px;
        border: 1px solid rgb(from var(--fg-main-color) r g b/.3);
        border-radius: 5px;
        margin-right: 0.3rem;
        min-width: 9rem;
        /* outline: none; */
        transition: width 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
    }
}
