.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    border: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: width 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
}

.search-icon {
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
}
