/* Plugin-specific CSS */
/* This file is loaded last to override any other CSS */
/* It's a file rather than baked into the plugin to make fast editing/visual changes easier */
body {  }

element.style {
  margin-top: 0px;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  font-weight: 500;
  line-height: 1.2;
}
h3 {
  background-color: beige;
  font-size: 1.4rem;
  margin-left: -10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.monospace { font-family: 'ui-monospace'; }
.monospaceData { font-family: 'ui-monospace'; font-size: 10px; white-space: pre-wrap }
/* loading spinner */
.loading {
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
    border-radius: 100%;
    height: 6em;
    width: 6em;
    background-color: black;
  }

  .loading-text {
    padding-left: 20px;
  }

  html, body {
    max-width: 100vw;
    overscroll-behavior-y: none;
  }

  .container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    padding-left: 0px; /* edge to edge */
    padding-right: 0px;
    /* align-items: center; */ /* vertical */
    justify-content: center; /* horizontal */
  }

  @keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
      transform: scale(1.0);
    }
  }

  @font-face {
    font-family: "noteplanstate";
    src: url('../np.Shared/noteplanstate-edited.otf') format('truetype');
  }

  .noteplanstate {
    font-family: "noteplanstate";
  }

  .fa-icon {
    font-family: "FontAwesome6Pro-Regular";
  }

  .PluginListingPage {
    padding-top: 25px;
  }

  .plugin-section {
    padding: 10px;
    padding-top: 0px;
  }

  .pluginName {
  }

  .pluginVersion, .pluginBy, .install, .installed {
    margin-left: 5px;
    font-size: 12px;
  }

  .pluginAuthor {
    margin-left: 2px;
    font-size: 12px;
  }

  .installed {
    color: green;
  }

  .install {
    color: blue;
  }

  .updateIsAvailable {
    color: orange;
  }

  .lastUpdate {

  }

  .aboutPlugin {

  }

  .sticky {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100; /* optional: to ensure the div stays on top of other elements */
    display: flex; 
    justify-content: flex-start;
    padding-right: '20px;
    flex-wrap: wrap; /* allow to wrap on phone */
  }


  /**
   * Responsive
   * for phones
   */

   @media only screen and (min-width: 375px) 
   and (max-width: 767px) {
    .container {
      padding-left: 0px; /* edge to edge */
      padding-right: 0px;    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    .button {
      padding: 0.5rem 1rem;
      font-size: 0.875rem;
    }

    .sticky {
      position: fixed;
      top: 0;
      z-index: 100;
      justify-content: flex-end;
      padding-top: 5px;
      padding-right: 40px; /* make room for X */
      flex-wrap: wrap; /* allow to wrap on phone */
    }

    .PluginListingPage {
      margin-top: 75px;
    }
  }