/**
  CSS for the items Actions Dialog 
  Last updated: 5.5.2024 for v2.0.0 by @jgclark
  */
dialog:modal {
  max-width: 92%;
}

/* @media screen and (width <= 420px) {
  dialog:modal {
    max-width: 90%;
    left: 5%;
  }
} */

dialog {
  /* Unset the margin around it, to allow absolute positioning by left/top */
  display:block;
  margin: 0rem;
  color: var(--fg-main-color);
  background: var(--bg-main-color);
  padding: 0rem;
  border: solid 1px var(--tint-color);
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
  z-index: 50;
}

.dialogTitle {
  background: var(--bg-alt-color);
  padding-block-start: 0.6rem;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
  padding-block-end: 0.2rem;
  border-block-end: 1px solid gray;
  cursor:pointer;
  /* margin-block-end: 4px; */
}

.dialogItemNote {
  font-weight: 600;
}

.dialogItemNoteType {
  font-weight: 400;
}

.dialogBody {
  padding-block-start: 0.3rem;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
  padding-block-end: 0.6rem;
}

.dialogDescription {
  padding-block-start: 5px;
}

.buttonGrid {
  display: grid;
  grid-template-columns: auto minmax(15rem, auto);
  column-gap: 0.3rem;
  row-gap: 0.2rem;
  /* vertically align content items in center */
  align-items: center; 
}

.buttonGrid div:nth-child(odd) {
  align-self: self-start;
  padding-block-start: 5px;
  justify-self: end;
}

.buttonGrid div:nth-last-child(1) {
  /* Put very last div (Close button) on RHS */
  justify-self: end;
}

.buttonGrid div:nth-child(1) {
  /* Put very first div down a bit to try to align with input field */
  padding-block-start: 10px;
}

/* for Dialog main buttons: a little more pronounced */
.mainButton {
	background-color: var(--bg-alt-color);
	font-size: 0.9rem;
	font-weight: 600;
	border: 1px solid var(--tint-color);
	padding: 2px 5px 2px 5px;
	margin: 2px 4px;
}

.dialogBody button {
  font-size: 0.85rem;
  font-weight: 400;
  /* add a clearer border to buttons */
  border: 1px solid rgb(from var(--fg-main-color) r g b / 0.7);
  border-radius: 4px;
  padding: 1px 4px 1px 4px;
  margin: 3px 1px;
}

.itemActionsDialog {
  max-width: 32rem;
}

.fullTextInput {
  width: calc(100% - 4rem);
  font-size: 0.85rem;
  padding: 1px 4px 1px 4px;
  border-radius: 4px;
}
/* iOS devices require an override for font size, otherwise it does a nasty zoom in effect 
 * discovered via https://stackoverflow.com/questions/68973232/how-to-handle-safari-ios-zoom-on-input-fields/69125139#69125139
 * PS Apple says user-scalable, min-scale and max-scale settings are ignored: https://webkit.org/blog/7367/new-interaction-behaviors-in-ios-10/ 
*/ 
@media screen and (width <= 420px) {
  .fullTextInput {
    font-size: 16pt;
  }
}

/* set fa icon colour to tint color */
i.fa-solid, i.fa-regular {
  color: var(--tint-color);
}

.dialog-top-right { 
  float: right;
  margin-right: -2px; 
  margin-top: -5px;
  margin-bottom: 5px;
}

.skipButton {
  margin-right: 5px;
}