dialog {
  display: block;
  margin: 0;
  color: var(--fg-main-color);
  background: var(--bg-main-color);
  padding: 0;
  border: 1px solid var(--tint-color);
  border-radius: 0.5em;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
  z-index: 50;
  max-width: 92%;
  /* Adjusted to be outside media query for consistent application */


  .dialogHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #dialogFileParts {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  /*** ALL THIS IS SCOPED INSIDE OF dialog to keep it from bleeding
   * outside of the dialog ***/

  .todo {
    margin-bottom: 0px;
    margin-right: 0px
  }

  .dialogTitle {
    display: flex;
    justify-content: space-between;
    background: var(--bg-alt-color);
    padding: 0.6rem 0.5rem 0.2rem 0.5rem;
    border-bottom: 1px solid gray;
  }

  .dialogItemNote {
    font-weight: 600;
  }

  .dialogItemNoteType {
    font-weight: 400;
  }

  .dialogBody {
    display: grid;
    grid-template-rows: auto auto auto;
    /* Clearly define three rows */
    gap: 10px;
    padding: 10px 10px 0px 10px;
    /* Adding some padding inside the dialog body for spacing */
  }

  .contentLine {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Align items to the start of the line */
  }

  .preText {
    width: 100px;
    /* Fixed width for label texts */
    text-align: right;
    margin-right: 10px;
    /* Consistent margin for spacing */
    flex-shrink: 0;
    /* Prevents the label from shrinking */
  }

  .itemIcon {
    width: 30px;
    /* Width fixed to accommodate the icon */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dialogDescription,
  .buttonGrid {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  .fullTextInput {
    flex-grow: 1;
    border-radius: 4px;
    /* Softens the corners */
    border: 1px solid #ccc;
    /* Lighter border to distinguish from buttons */
    padding: 0.5em;
    /* Internal padding to move the text a bit from the edges */
    margin-left: 10px;
    /* Left margin for aesthetic spacing from the icon */
    margin-right: 10px;
    /* Margin to separate from the next button */
    font-size: 0.9rem;
    /* Adjusts text size if needed */
    font-weight: 600;
  }

  .updateItemContentButton {
    white-space: nowrap;
    /* Prevents text wrapping within the button */
  }

  .buttonGrid {
    display: flex;
    flex-direction: column;
  }

  .buttonLine {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-bottom: 8px;
  }

  .PCButton {
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  @media screen and (max-width: 420px) {
    dialog {
      max-width: 90%;
      left: 5%;
    }

    .fullTextInput {
      font-size: 16pt;
      /* Prevents iOS zoom effect */
    }
  }

  /* Color settings for icons */
  i.fa-solid,
  i.fa-regular {
    color: var(--tint-color);
  }

  .dialog-top-right {
    float: right;
    margin-bottom: 5px;
  }


  .skipButton {
    margin-right: 5px;
  }
}