/* Plugin-specific CSS */
/* This file is loaded last to override any other CSS */
/* It's a file rather than baked into the plugin to make fast editing/visual changes easier */
body { padding-left: 15px; padding-right: 15px; }
.monospace { font-family: 'ui-monospace'; }
.monospaceData { font-family: 'ui-monospace'; font-size: 10px; white-space: pre-wrap }
/* loading spinner */
.loading {
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
    border-radius: 100%;
    height: 6em;
    width: 6em;
    background-color: black;
  }

  .loading-text {
    padding-left: 20px;
  }

  .container {
    align-items: center;
    background-color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
  }

  @keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
      transform: scale(1.0);
    }
  }

  @font-face {
    font-family: "noteplanstate";
    src: url('../np.Shared/noteplanstate-edited.otf') format('truetype');
  }

  /*
  @font-face {
    font-family: "FontAwesome6Pro-Regular";
    src: url('Font Awesome 6 Pro-Regular-400.otf') format('opentype');
  }
  */

  .noteplanstate {
    font-family: "noteplanstate";
  }

  .fa-icon {
    font-family: "FontAwesome6Pro-Regular";
  }

  .statusbutton-bar {
    background-color: transparent;
    width: 1000px;
  }

  .statusbutton-text {
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
  }

  .statusbutton-collapsed {
    font-family: "noteplanstate";
  }

  .statusbutton-displayed {
    background-color: transparent !important;
  }

  .w3-dropdown-hover:first-child {
    background-color: unset;
    color: unset;
  }

  .pointer {
    cursor:'pointer';
    pointer-events: auto;
    text-decoration: none;
  }