
/* NOTE from DBW: GENERALLY YOU HAVE TO SET !IMPORTANT TO GET THESE CALENDAR STYLES TO OVERRIDE THE SETTINGS */
/* NOTE from JGC: This is now less the case, but still confused why this is happening, given the np.Shared one is declared in a lower-priority @layer */

/* -------------- */
.dashboard, .dynamic-dialog  {
  .container { border: '1px solid #ccc';
    margin-top: '0px';
    padding-top: '0px'; }
  .caption { color: 'var(--tint-color)'; }
  .navButtonPrev { color: 'var(--tint-color)'; }
  .navButtonNext { color: 'var(--tint-color)'; }
  .weekdays { background-color: 'var(--bg-main-color)'; }
  .weekday { font-weight: 'bold'; }
  .weekend { background-color: 'var(--bg-alt-color)'; }
  .week { color: '#333'; }
  .day { color: 'var(--fg-main-color)'; }
  .today { color: 'var(--hashtag-color)';
    background-color: 'var(--bg-alt-color)'; }
  .selected { color: 'var(--tint-color)';
    background-color: 'var(--bg-alt-color)'; }

  /* -------------- */

  .calendarPickerCustom {
    --rdp-cell-size: 1.3rem; /* '30px'; */
    margin: 1rem;
    margin-top: 0.7rem;
  }

  .rdp-nav {
    scale: 80%;
    position: absolute;
    top: unset !important; /* TODO: I can't work out where an override of '50%' is coming from */
    left: unset;
    right: unset;
    bottom: 0%;
    z-index: 10;
    transform: unset !important; /* TODO: I can't work out where an override of 'translateY(-50%)' is coming from */
    margin-bottom: unset;
    padding-bottom: unset;
  }

  /* Set the first child of rdp-months to be at left */
  .rdp-caption_start.rdp-nav {
    left: 0 !important;
    right: unset !important;
  }

  /* Set the last child of rdp-months to be at right */
  /* needed on rdp-multiple_months .rdp-caption_end .rdp-nav  */
  .rdp-caption_end.rdp-nav {
    left: unset !important;
    right: 0 !important;
  }

  .dayPicker-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    /* margin-top: 20px; */
  }

  /* reduce padding at the top of the calendar */
  .dayPicker-container .buttonGrid div:nth-child(1) {
    padding-block-start: 0px;
  }

  /* change the style of today's button */
  .rdp-day_today {
    background-color: rgb(from var(--tint-color) r g b / 0.5);
    color: var(--fg-main-color);
  }

  /* change the style of selected buttons */
  .rdp-button:hover:not([disabled]):not(.rdp-day_today) {
    background-color: rgb(from var(--attag-color) r g b / 0.5);
    font-weight: 700;
    /* color: var(--fg-main-color); */
  }
}