/* CSS specific to showDashboard() from jgclark.Dashboard plugin */
/* Last updated 2026-02-07 for v2.4.0.b20 by @jgclark */

/* ------------------------------------------------------------------ */
/* Some colours specified from measuring the colour of NP sidebar elements */
html {
	--fg-sidebarDaily: #d0703c;
	--fg-sidebarWeekly: #be23b6;
	--fg-sidebarMonthly: #f5528b;
	--fg-sidebarQuarterly: #e08008;
	--fg-sidebarYearly: #efba13;
	--fg-sidebarHashtag: var(--hashtag-color);
	--fg-sidebarMention: var(--attag-color);
	--fg-sidebarSearch: #9da5a8;
}
/* But still need these as named styles for the section headings */
.sidebarDaily {color: var(--fg-sidebarDaily);}
.sidebarWeekly {color: var(--fg-sidebarWeekly);}
.sidebarMonthly {color: var(--fg-sidebarMonthly);}
.sidebarQuarterly {color: var(--fg-sidebarQuarterly);}
.sidebarYearly {color: var(--fg-sidebarYearly);}
.sidebarHashtag {color: var(--hashtag-color);}
.sidebarMention {color: var(--attag-color);}
.sidebarSearch {color: var(--fg-sidebarSearch);}

/* ------------------------------------------------------------------ */

html {
	/* Add a gutter to the scrollbar to prevent it from overlapping with the content. Available in Safari, but not sure when it becomes available in NotePlan. */
	scrollbar-gutter: stable;

	/* Define 'Magic Numbers' -------------------------------- */
	--itemIndentWidth: 1.5rem;
	/* For the NP-generated close button on modal windows on mobile */
	--modalCloseButtonSpacerWidth: 20px;
}

body {
	margin: 0px;
	width: 100%;
}

/* Add a focus-visible outline to any element that is focussed and the browser decides needs to show a focus ring */
/* This is overridden later for a certain type of buttons */
:focus-visible {
	outline: 1px solid rgb(from var(--tint-color) r g b / 0.5);
	border-radius: 4px;
}

/* 
 * Darken background under any dialogs when open (See https://developer.mozilla.org/en-US/docs/Web/CSS/::backdrop)
 */
dialog::backdrop {
  background: rgba(0,0,0,0.4);
}

/* Make square-based icons a touch larger, as they're optically smaller than the circle equivalents. Advanced stuff! */
.fa-square, .fa-square-plus, .fa-square-arrow-right {
	font-size: 106%; /* 110%; */
}

/* Override the theme definition of a completed task a little */
.checked {
	/* padding-top: 1px !important; */
	margin-bottom: 0px !important; /* over-ride margin-bottom: 0.25rem that is set somwhere else */
	font-size: 98%
}

.projectIcon {
	/* less to do as this is SVG not text */
	/* align-self: center; -- would have worked when a single line, but it can now have progress text */
	align-self: start;
	justify-self: center;
	/* and give a little nudge down to make things line up in practice */
	margin-block-start: 2px;
	margin-right: 2px;
}

.dialogTriggerIcon {
	color: rgb(from var(--fg-main-color) r g b / 0.4);
	cursor: pointer;
	padding-left: 0.5rem;
	padding-right: 0.3rem;
}

/* ------------------------------------------------------------------ */
/* For SHOW_BANNER messages in the top of the page as a Message Banner */
/* Note: now handled by separate file: np.Shared/src/react/MessageBanner.css */

/* ------------------------------------------------------------------ */
/* Large rows on page */
.sections {
	display: block;
	padding-right: 10px;
	margin-right: 10px;
}

/* ------------------------------------------------------------------ */
/* Font Awesome specific overrides */

/* Override what Font Awesome adds, which is a fixed width for fixed-with	icons of 1.25rem */
.fa-fw {
	width: 1.0rem;
}


/* --------------------------------------------------------------- */

/* All buttons and inputs, but at lower priority */
@layer A {
	button,
	input[type="text"],
	input[type="search"],
	input[type="number"] {
		color: var(--fg-sidebar-color);
		background-color: var(--bg-alt-color);
		border: 1px solid rgb(from var(--fg-main-color) r g b/0.3);
		box-shadow: 1px 1px 0px 0px rgb(from var(--fg-main-color) r g b / 0.2);
	}
}

/* TODO: Ideally rationalise this with the 'dropdown-select' icon-buttons in the Header bar */
.buttonsWithoutBordersOrBackground,
.buttonsWithoutBordersOrBackground * {
	display: inline-flex;
	gap: 0.4rem;
	justify-self: end;
	/* align-self: flex-start; /* Doesn't seem to be needed */
	border: 0px none;
	box-shadow: none;
	/* padding-top: 1px; */
	padding-left: unset;
	padding-right: unset;
	background-color: unset;
	color: var(--tint-color);
	cursor: pointer;

	/* &:focus {
		outline: none;
	} */
	/* Add a more specific 'underline' to indicate focus for these buttons to aid keyboard navigation */
	&:focus-visible {
		filter: brightness(112%);
		/* Remove the default focus ring */
		outline: none;
		border-radius: 0px;
		border-bottom: 1px solid rgb(from var(--tint-color) r g b / 0.5);
	}
}

/* Widen button gaps on touchscreen interfaces, and leave gap for extra close button that appears */
.iOS .buttonsWithoutBordersOrBackground, .iPadOS .buttonsWithoutBordersOrBackground {
	gap: 0.9rem !important; /* haven't tested whether !important is needed here */
	font-size: 1.0rem !important;
}

/* For action buttons in section title areas */
.addButton {
	font-size: 0.95rem;
	/* line-height: 1.2rem; */
	font-weight: 500;
	border-style: none;
	box-shadow: none;
	/* a little margin to right */
	margin: 1px 0px 0px 0px;
	padding: 0px;
	white-space: nowrap;
	cursor: pointer;
	/* Center the button vertically if it's not aligning properly */
	align-self: center;
}
.addButton:hover {
	/* TODO(later): this 'currentcolor' is not yet working as advertised, so using a fallback for now */
	/* color: hsl(from currentcolor h s calc(l*0.4)); */
	filter: saturate(140%);
}

/* For processing buttons in section info areas */
.PCButton {
	font-weight: 500;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	padding: 1px 2px 0px 3px;
	margin: 2px 4px 2px 0px;
	white-space: nowrap;
	cursor: pointer;
	font-size: 0.85rem;
	/* Center the button vertically if it's not aligning properly */
	align-self: center;
	/* max-height: 1.3rem; */
	line-height: 1.2rem;

	/* color FA icons in these Buttons */
	i {
		color: var(--tint-color);
	}

	/* set backgrounds a little lighter on hover */
	&:hover {
		/* TODO(later): revert to this when it is supported */
		/* background-color: hsl(from var(--bg-sidebar-color) h s calc(l*1.4)); */
		filter: brightness(103%);
	}
}

/* Show click pointer over buttons and equivalent */
button,
.fake-button,
.clickTarget {
	cursor: pointer;
}

.greyedText {
	color: rgb(from var(--fg-sidebar-color) r g b / 0.5);
}

/* --------------------------------------------------------------- */
/* Tooltips should render on macOS only */
.macOS {
	/* Add tooltips to these buttons, using CSS-only technique at https://www.youtube.com/watch?v=M4lQwiUvGlY&t=157s or https://www.youtube.com/watch?v=ujlpzTyJp-M */
	.tooltip {
		position: relative;
		/* float above everything, including the header */
		/* FIXME: this is not working as expected. It then makes the Perspective dropdown sit under the buttons. */
		/* z-index: 12; */
	}

	.tooltip::before,
	.tooltip::after {
		position: absolute;
		left: 50%;
		display: none;
		transition: all ease 0.3s;
		transition-delay: 0.8;
	}

	/* Set tooltip little triangle */
	.tooltip::before {
		content: "";
		border-width: 10px 8px 0 8px;
		border-style: solid;
		border-color: var(--tint-color) transparent transparent transparent;
		margin-left: -8px;
		top: -10px;
	}

	/* Set main tooltip display area */
	.tooltip::after {
		content: attr(data-tooltip);
		margin-left: -10px;
		padding: 0.1rem 0.3rem;
		top: -9px;
		font-size: 0.85rem;
		color: var(--fg-main-color);
		background: var(--bg-main-color);
		border: 1px solid var(--tint-color);
		border-radius: 6px;
		transform: translateY(-100%);
		cursor: help;
	}

	.tooltip:hover::before,
	.tooltip:hover::after {
		display: block;
		z-index: 20;
	}
}

/* ------------------------------------------------------------------ */
/* Miscellaneous styles */

.teamspace-color {
	color: var(--teamspace-color);
}

/* show as italic */
.italicText {
	font-weight: 400;
	font-style: italic;
}

/* change cursor for elements which can be clicked on */
.clickTarget {
	cursor: pointer;
}

.pad-left {
	/* add space before something (normally an icon) */
	padding-left: 0.3rem !important;
}

.pad-left-larger {
	/* add space before something */
	padding-left: 0.5rem !important;
}

.pad-right {
	/* add space after something (normally an icon) */
	padding-right: 0.3em !important;
}

.pad-right-larger {
	/* add more space after something */
	padding-right: 0.5em !important;
}

.space-under {
	/* add space under item */
	padding-bottom: 0.3em;
}

/* ------------------------------------------------------------------ */
/* Default colouring/cursors/decorations for note titles, note links, folders, teamspaces, info */
@layer Default {
	/* Colour the note titles */
	.noteTitle {
		color: var(--tint-color);
		white-space: nowrap;
		cursor: pointer;
	}

	/* Private note link - default layer */
	.folderName {
		/* color: var(--tint-color); */
		color: var(--fg-placeholder-color);
		white-space: nowrap;
	}

	/* Teamspace note link - default layer */
	.teamspaceName {
		color: rgb(from var(--teamspace-color) r g b / 0.8);
		white-space: nowrap;
	}

	.scheduledDate {
		color: var(--tint-color);
	}

	/* turn off text color and underlining by default on all content items... */
	.content,
	.content:visited,
	.content:active {
		color: inherit;
		text-decoration: none;
		cursor: pointer;
	}

	/* ... except when hovering over a content item */
	.content:hover,
	.noteTitle:hover {
		text-decoration: underline;
	}

	.externalLink {
		text-decoration: underline;
		cursor: pointer;
		color: var(--tint-color);
	}

	.event-link {
		font-weight: 500;
		border-color: var(--divider-color);
		border-radius: 3px;
		border-width: 1px;
		border-style: solid;
		padding: 0px 3px;
	}

	/* Project items */
	.projectProgress {
		color: var(--fg-placeholder-color);
		font-size: 0.9rem;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis; /* FIXME: This is not working as expected, so doing truncation in generation instead */
	}
	/* .projectProgress i {
		color: var(--fg-placeholder-color);
	} */

	.projectNextAction {
		color: var(--fg-alt-color);
		font-size: 0.9rem;
	}
	.projectNextAction i {
		color: var(--item-icon-color);
	}

	/* The marker for parent items, designed to mimic what EM introduced in 3.15.1 */
	/* As of v2.3.0.b16, this is not used, but is retained for future reference. */
	.parentMarkerIcon {
		font-size: 70%;
		color: rgb(from var(--fg-main-color) r g b / 0.7);
		background-color: var(--divider-color);
		margin-left: 0.35rem;
		border-radius: 30%;
		padding: 0px 4px;
		vertical-align: middle;
		transform: scale(1.25,0.9);
	}
}

/* .multi-cols { /* allow multi-column flow: set max columns and min width, and some other bits and pieces. Reference: https://drafts.csswg.org/css-multicol/#the-multi-column-model */
/*	column-count: 3;
	column-fill: balance;
	column-width: 25rem;
	column-gap: 1rem;
	column-rule: 1px dotted var(--tint-color);
} */
.avoidColumnBreakHere {
	/* apply to a <div> to avoid column break part-way through item */
	break-inside: avoid;
}

.fadeOutAndHide {
	/* Start from fully visible */
	transition: opacity 500ms ease-out;
	opacity: 0;
}

/* --------------------------------------------------------------- */

/* For fancy toggle as checkbox */
/* from [Pure CSS3 iOS switch checkbox by Pedro M. S. Duarte | codeburst](https://codeburst.io/pure-css3-input-as-the-ios-checkbox-8b6347d5cefb)
 */
 /* Note: This is forked from what is in helpers/.../DynamicDialog.css */
input.apple-switch {
	position: relative;
	appearance: none;
	vertical-align: baseline; /* top; */
	outline: none;
	width: 2.0rem;
	height: 1.2rem;
	border: 1px solid rgb(from var(--fg-main-color) r g b / 0.3);
	border-radius: 1.9rem;
	background-color: var(--bg-apple-switch-color);
	/* box-shadow: 1px 1px 1px 0px var(--divider-color); */
	margin-top: 0px;
	margin-right: 4px;
	transition: background-color 0.2s;
}

input.apple-switch:after {
	content: "";
	vertical-align: top;
	position: absolute;
	top: 1px;
	left: 1px;
	background-color: var(--fg-apple-switch-color);
	width: 0.95rem;
	height: 0.95rem;
	border-radius: 50%;
	box-shadow: 0px 0px 2px var(--divider-color);
	margin-right: 1.0rem;
	transition: left 0.2s ease, background-color 0.2s ease;
}

input.apple-switch:checked {
	vertical-align: top;
	background-color: hsl(from var(--tint-color) h s l); /* Note: in dark mode making this a little darker looks good, but not in light mode */
	transition: background-color 0.3s ease;
}

input.apple-switch:checked:after {
	vertical-align: top;
	left: 0.85rem;
	background-color: var(--fg-apple-switch-color);
	box-shadow: 0px 0px 2px var(--divider-color);
}

/* Circular progress bar for Project items */
.CircularProgressbar-path {
  stroke: var(--item-icon-color) !important;
	stroke-linecap: butt !important;
}
.CircularProgressbar-trail {
  fill: var(--bg-sidebar-color) !important;
}
/* .CircularProgressbar-text {
  fill: yellow;
} */
.CircularProgressbar-background {
  fill: var(--bg-sidebar-color) !important;
}

.dynamic-dialog.dashboard-command-button .dynamic-dialog-content {
	overflow: visible;
}