/* CSS specific to showDashboard() from jgclark.Dashboard plugin */
/* Last updated 2024-08-25 for v2.1.0.a9 by @jgclark */

:root {	font-size: 16px; /* this works */
	/* For MESSAGE_BANNER: Override w3.css which seems to take precedence for reasons unknown */
	.w3-panel {
		margin-top: 0px;
		margin-bottom: 0px;
		width: 98vw;
	}
	.w3-button {
		margin-right: 20px;
	}
}

/* TEST: for subtle colouring */
html {
	--bg-error-color: color-mix(in oklch, var(--bg-main-color), red 20%);
	--bg-ok-color: color-mix(in oklch, var(--bg-main-color), green 20%);
}

html,
body {
	font-size: 16px;
}

body {
	margin: 0px;
	width: 90vw;
}

/* TODO: Trying this as a way to unset the colour of icons */
/* i {
	color: unset;
} */

/* 
 * Darken background under any dialogs when open (See https://developer.mozilla.org/en-US/docs/Web/CSS/::backdrop)
 */
dialog::backdrop {
  background: rgba(0,0,0,0.4);
}

/* unused */
.settings {
	/* Assign the area */
	grid-area: settings;
	/* Align to the right edge */
	justify-self: end;
	margin-right: 20px;
}

/* Large rows on page */
.sections {
	display: block;
	padding-right: 10px;
	margin-right: 10px;
}

/* Specific alignment fixes for icons inside buttons or links */
/* Inside a layer to make them lower priority than other  */
@layer A {
	.fa-regular,
	.fa-solid {
		/* Centers icon within its container, vertically and horizontally */
		align-self: center;
		margin: auto;
		color: var(--tint-color);
	}
}

.section {
	display: grid;
	grid-template-columns: [info] minmax(6rem, 11rem) [items] auto;
	grid-template-rows: min-content;
	/* grid-auto-flow: column; */

	/* a little extra gap between first 2 cols */
	grid-column-gap: 4px;
	column-rule: 1px dotted var(--tint-color);

	/* a little spacing at top and bottom of section */
	/* padding: 2px 2px; */
	/* turn on top border (from theme CSS) */
	border-bottom: 1px solid var(--divider-color);
}

.sectionInfo {
	display: block;
	padding-block-start: 0.3rem;
	padding-block-end: 0.2rem;
	padding-inline-start: 0.5rem;
	padding-inline-end: 0.5rem;
	color: var(--fg-sidebar-color);
	background-color: var(--bg-sidebar-color);
	border-right: 1px solid var(--divider-color);
}

.sectionIcon {
	font-size: 1.1rem;
	/* font-weight: 400; */
	text-align: center;
	padding-right: 0.3rem;
	padding-top: 1px;
}

.sectionName {
	font-size: 1.0rem;
	/* make noteTitles bold */
	font-weight: 700;
	margin: unset;
	padding-top: 0px;
	padding-bottom: 0.2rem;
}

.sectionDescription {
	/* a bit smaller */
	font-size: 0.9rem;
	/* give breathing room on right only */
	margin: 0 0.5rem 0 0;
	padding-top: 0.2rem;
	/* align-self: self-end; */
}

/* turn on bottom border of last item (from theme CSS) */
/* .section:last-child {
	border-bottom: solid 1px var(--tint-color);
} */

/* Inner grid for details of a section */
.sectionItemsGrid {
	font-size: 1.0rem;
	/* allow multi-column flow: set max columns and min width, and some other bits and pieces. Reference: https://drafts.csswg.org/css-multicol/#the-multi-column-model */
	column-count: 3;
	column-fill: balance;
	column-width: 25rem;
	/* column-gap: 1rem; */
	column-rule: 1px dotted var(--tint-color);
	column-fill: auto;
	padding-inline-start: 2px;
	padding-block-start: 4px;
	padding-block-end: 4px;
}

.sectionItemRow {
	/* The important trick to avoiding bad wrapping at end of columns */
	break-inside: avoid;
	display: grid;
	grid-template-columns: [icon] 1.1rem [item-details] auto;
	/* was: minmax(20rem, 30rem); */
	/* no bottom padding */
	padding: 3px 4px 0px 2px;
	border: 0px none;
	column-gap: 2px;
	/* vertical in containing block */
	align-self: start;
	/* horizontal in containing block */
	justify-self: right;
	/* border-collapse: collapse; */
	/* vertical for all items this contains */
	align-items: start;
	/* horizontal for all items this contains */
	justify-items: start;
	/*
	opacity: 1; 
	transition: opacity 500ms ease-in-out;
	*/
}

/* The actual item's details (was col4) */
.sectionItem {
	/* reduce vertical spacing and line below */
	font-size: 1.0rem;
	font-weight: 400;
	padding: 1px 4px;
	border-bottom: 0px;
	break-inside: avoid;
	line-height: 1.2rem;
}

/* If rather narrow, slide [items] under [info] */
/* This needs to come after the earlier definitions to take priority */
@media screen and (width <= 600px) {
	.section {
		grid-template-columns: 1fr;
	}

	.sectionInfo {
		border-top: solid 0.5px var(--tint-color);
		border-bottom: solid 1px var(--divider-color);
		display: grid;
		/* now make this area grid column-based not row-based */
		grid-template-columns: max-content max-content auto;
		grid-column-gap: 0.1rem;
		padding-top: 0.4rem;
		/* padding-bottom: 0.3rem; */
		/* put all items essentially on a baseline */
		/* align-items: end; */
		align-items: center;
	}

	.sectionName {
		/* turn off padding under section name */
		padding-top: 0.1rem;
		padding-bottom: 0rem;
		padding-left: 1px;
		/* some padding to right */
		padding-right: 0.5rem;
	}

	.sectionItemRow {
		padding: 3px 4px 0px 4px;
		column-gap: 0px;
	}
}

.projectProgress {
	font-size: 0.9rem;
}

/* ------------------------------------------------------------------ */
/* Various item icons */

/* Need to override some CSS that comes in the theme */
.itemIcon {
	color: var(--item-icon-color);
	margin-bottom: unset !important;
	line-height: unset !important;
	font-size: 1.0rem  !important;
	/* font-size: unset !important; */
	font-weight: 400;
	/* position this horizontally centred; vertically at start */
	align-self: center;
	justify-self: center;
	/* and give a little nudge down to make things line up in practice */
	padding-block-start: 1px;
	cursor: pointer;
}

.projectIcon {
	/* less to do as this is SVG not text */
	/* margin-bottom: unset !important; */
	/* line-height: unset !important; */
	/* font-size: 0.7rem !important; */
	/* height: 0.7rem;
	width: 0.7rem; */
	/* height: 1.1rem;
	width: 1.1rem; */
	/* line-height: 1.1rem; */
	/* align-self: center; */
	align-self: start;
	justify-self: center;
	/* and give a little nudge down to make things line up in practice */
	margin-block-start: 2px;
}

.dialogTrigger {
	color: var(--fg-main-color);
	opacity: 0.5;
	cursor: pointer;
}

.childMarker {
	font-size: small;
	color: var(--fg-main-color);
	opacity: 0.5;
}

/* --------------------------------------------------------------- */

/* All buttons, but at lower priority */
@layer A {
	button,
	input {
		color: var(--fg-sidebar-color);
		background-color: var(--bg-sidebar-color);
		border: 1px solid var(--divider-color);
		box-shadow: 1px 1px 1px 0px rgb(from var(--fg-main-color) r g b / 0.2);
	
		/* set button/input backgrounds a little lighter on hover */
		&:hover {
			background-color: hsl(from var(--bg-sidebar-color) h s calc(l*1.4));
		}
	}
}

/* For buttons in section info areas */
.PCButton {
	font-weight: 500;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	/* a little internal padding to right */
	padding: 1px 2px 0px 2px; /* 0px 3px 0px 0px; */
	/* a little external margin */
	margin: 2px 4px 2px 0px; /* 2px 6px 0px 0px;*/
	white-space: nowrap;
	cursor: pointer;
	font-size: 0.85rem;
	/* Center the button vertically if it's not aligning properly */
	align-self: center;
	/* max-height: 1.3rem; */
	line-height: 1.2rem;

	/* fa-icons in HA Button */
	&:i {
		color: var(--tint-color);
	}
}


/* Set link text to plain (again).  Note: now internal calls used this is removed */
/* .PCButton a {
	font-size: 0.85rem;
	text-decoration: none;
	color: var(--fg-main-color);
} */

/* Show click pointer over buttons and equivalent */
button,
.fake-button,
.clickTarget {
	cursor: pointer;
}

/* --------------------------------------------------------------- */
/* Tooltips should render on macOS only */
.macOS {
	/* Add tooltips to these buttons, using CSS-only technique at https://www.youtube.com/watch?v=M4lQwiUvGlY&t=157s */
	.tooltip {
		position: relative;
		/* float above everything, including the header */
		/* z-index: 20; */
	}

	.tooltip::before,
	.tooltip::after {
		position: absolute;
		left: 50%;
		/* opacity:0;  -- problem is that this interferes with cursor selection because it still grabs cursor -- so switching to display: instead */
		display: none;
		transition: all ease 0.3s;
		transition-delay: 0.8;
	}

	/* Set tooltip little triangle */
	.tooltip::before {
		content: "";
		border-width: 10px 8px 0 8px;
		border-style: solid;
		border-color: var(--tint-color) transparent transparent transparent;
		margin-left: -8px;
		top: -12px;
	}

	/* Set main tooltip display area */
	.tooltip::after {
		content: attr(data-tooltip);
		margin-left: -10px;
		padding: 0.15rem 0.25rem;
		top: -12px;
		font-size: 0.85rem;
		color: var(--fg-main-color);
		background: var(--bg-main-color);
		border: 1px solid var(--tint-color);
		border-radius: 6px;
		transform: translateY(-100%);
		cursor: help;
	}

	.tooltip:hover::before,
	.tooltip:hover::after {
		/* opacity: 1; */
		display: block;
		z-index: 20;
	}
}
/* ------------------------------------------------------------------ */

/* show as italic. Note: now unused */
/* .commentLine {
	font-weight: 400;
	font-style: italic;
} */

.clickTarget {
	/* change cursor for icons which can be clicked on */
	cursor: pointer;
}

.pad-left {
	/* add space before something (normally an icon) */
	padding-left: 0.3rem !important;
}

.pad-right {
	/* add space after something (normally an icon) */
	padding-right: 0.3em !important;
}

.space-under {
	/* add space under item */
	padding-bottom: 0.3em;
}

.scheduledDate {
	color: var(--tint-color);
}

/* all links turn off text color and underlining by default ... */
.content,
.content:visited,
.content:active {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

/* ... except when hovering over a content item */
.content:hover,
.noteTitle:hover {
	text-decoration: underline;
}

.externalLink {
	text-decoration: underline;
	cursor: pointer;
	color: var(--tint-color);
}

.event-link {
	font-weight: 400;
	border-color: var(--bg-alt-color);
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	padding: 0px 3px;
}

/* Colour the note titles */
.noteTitle {
	/* add "font-weight: 700;" to make noteTitles bold */
	color: var(--tint-color) !important;
}

/* Desaturate note folder names */
.folderName {
	opacity: 50%;
}

/* .multi-cols { /* allow multi-column flow: set max columns and min width, and some other bits and pieces. Reference: https://drafts.csswg.org/css-multicol/#the-multi-column-model */
/*	column-count: 3;
	column-fill: balance;
	column-width: 25rem;
	column-gap: 1rem;
	column-rule: 1px dotted var(--tint-color);
} */
.avoidColumnBreakHere {
	/* apply to a <div> to avoid column break part-way through item */
	break-inside: avoid;
}

.fadeOutAndHide {
	/* Start from fully visible */
	transition: opacity 500ms ease-out;
	opacity: 0;
}

/* Some headings specified from measuring the colour of NP sidebar elements */
/* TODO: move the font-size somewhere more sensible */
.sidebarDaily {
	font-size: 1.0rem;
	color: #d0703c;
}

.sidebarWeekly {
	font-size: 1.0rem;
	color: #be23b6;
}

.sidebarMonthly {
	font-size: 1.0rem;
	color: #f5528b;
}

.sidebarQuarterly {
	font-size: 1.0rem;
	color: #e08008;
}

.sidebarYearly {
	font-size: 1.0rem;
	color: #efba13;
}

.sidebarHashtag {
	font-size: 1.0rem;
	color: var(--hashtag-color);
}

.sidebarMention {
	font-size: 1.0rem;
	color: var(--attag-color);
}

.priority, .overdue, .projects {
	font-size: 1.0rem;
	color: var(--item-icon-color);
}

#error {
	background-color: red;
	padding-left: 10px;
}

/* --------------------------------------------------------------- */

/* For fancy toggle as checkbox */
/* from [Pure CSS3 iOS switch checkbox. A switch allows the user to quickly… | by Pedro M. S. Duarte | codeburst](https://codeburst.io/pure-css3-input-as-the-ios-checkbox-8b6347d5cefb)
 */
input.apple-switch {
	position: relative;
	appearance: none;
	vertical-align: top;
	outline: none;
	width: 2.0rem;
	/* 50px; */
	height: 1.1rem;
	/* 30px; */
	background-color: #EEE;
	border: 1px solid #DDD;
	border-radius: 2.0rem;
	/* 50px; */
	/* box-shadow: inset -0.8rem 0 0 0 #fff; /* -20px */
	margin-top: 0px;
	margin-right: 4px;
}

input.apple-switch:after {
	content: "";
	vertical-align: top;
	position: absolute;
	top: 0px;
	left: 1px;
	background: #FFF;
	width: 1.0rem;
	/* 26px; */
	height: 1.0rem;
	/* 26px; */
	border-radius: 50%;
	box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.3);
	margin-right: 1.0rem;
}

input.apple-switch:checked {
	vertical-align: top;
	box-shadow: inset 0.8rem 0 0 0 var(--tint-color);
	/* 20px; */
	border-color: var(--tint-color);
}

input.apple-switch:checked:after {
	vertical-align: top;
	left: 0.8rem;
	/* 20px; */
	box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.1);
	/* 0.05;*/
}

/* Circular progress bar for Project items */
.CircularProgressbar-path {
  stroke: var(--item-icon-color) !important;
	stroke-linecap: butt !important;
}
.CircularProgressbar-trail {
  fill: var(--bg-sidebar-color) !important;
}
/* .CircularProgressbar-text {
  fill: yellow;
} */
.CircularProgressbar-background {
  fill: var(--bg-sidebar-color) !important;
}

/* Header waiting spinner */
.fa-spin {
	/* color: var(--tint-color); */
	animation: spin 1s infinite linear;
}
