/* CSS specific to MultiSelectSpaces from jgclark.Dashboard plugin */
/* Last updated 2025-12-05 for v2.4.0 by @jgclark */

/* The panel containing the multi-select options -- forked from the ordering-panel-expanded class */
.multi-select-panel {
  background: var(--bg-main-color);
  border: 1px solid var(--divider-color);
  border-radius: 6px;
  margin: 0.2rem 0rem;
  padding: 0.5rem 1.0rem;

  .multi-select-options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  
    label {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0.1rem 0;
      margin-right: 0.5rem;
      opacity: 1.0;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.7;
      }
    }

    input {
      margin-right: 0.5rem;
      cursor: pointer;
      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
