/**
  CSS for the items Actions Dialog 
  Last updated: 26.2.2024 for v0.9.0 by @jgclark
  */
dialog:modal {
  max-width: 90%;
}

dialog {
  /* Unset the margin around it, to allow absolute positioning by left/top */
  margin: 0rem;
  color: var(--fg-main-color);
  background: var(--bg-main-color);
  padding: 0rem;
  border: solid 1px var(--tint-color);
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3); /*#888;*/
}

.dialogTitle {
  background: var(--bg-alt-color);
  padding-block-start: 0.6rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-block-end: 0.2rem;
  border-block-end: 1px solid gray;
  /* margin-block-end: 4px; */
}

.dialogItemNote {
  font-weight: 600;
}

.dialogBody {
  padding-block-start: 0.3rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-block-end: 0.6rem;
}

.dialogDescription {
  padding-block-start: 5px;
}

.buttonGrid {
  display: grid;
  /* grid-template-columns: max-content minmax(15rem, 28rem); */
  grid-template-columns: max-content minmax(15rem, auto);
  column-gap: 0.3rem;
  row-gap: 0.3rem;
  /* vertically align content items in center */
  align-items: center; 
}

.buttonGrid div:nth-child(odd) {
  align-self: center; /*start;*/
  /* padding-block-start: 5px; */
  justify-self: end;
}

.buttonGrid div:nth-last-child(1) {
  /* Put very last div (Close button) on RHS */
  justify-self: end;
}

.buttonGrid div:nth-child(1) {
  /* Put very first div down a bit to try to align with input field */
  padding-block-start: 5px;
}

/* for main UI buttons */
.mainButton { /* main UI action buttons: a little more pronounced */
	background-color: var(--bg-alt-color);
	font-size: 0.9rem;
	font-weight: 600;
	border: 1px solid var(--tint-color);
	box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3); /*#888;*/
	padding: 2px 5px 2px 5px;
	margin: 2px 4px;
}

.dialogBody button {
  font-size: 0.85rem;
  font-weight: 400;
  border-radius: 4px;
  padding: 1px 4px 1px 4px;
  margin: 3px 1px;
}

.itemActionsDialog {
  max-width: 32rem;
  /* max-height: 25rem; */
}

.fullTextInput {
  width: calc(100% - 4rem);
  font-size: 0.85rem;
  padding: 1px 4px 1px 4px;
  border-radius: 4px;
}

/* set fa icon colour to tint color */
i.fa-solid, i.fa-regular {
  color: var(--tint-color);
}
