/* CSS specific to showDashboard() from jgclark.Dashboard plugin */

table { font-size: 1.0rem; /* used to make text a little smaller at 0.9rem */
	border-collapse: collapse; /* always! */
	border: 0px none;
	empty-cells: show;
}
th {
	text-align: left;
	vertical-align: bottom;
	padding: 8px;
	border: 0px none; /* no borders */
}
td {
	text-align: left;
	vertical-align: top;
	padding: 6px 4px;
	border: 0px none; /* no borders */
}
table tr { /* turn on top and bottom border (from theme CSS) */
	border-top: solid 1px var(--tint-color);
	border-bottom: solid 1px var(--tint-color); /* line between rows, not columns */
}
.no-borders { /* turn off all borders */
	border-top: none 0px;
	border-bottom: none 0px;
}
.sectionName { /* column 2's title */
	font-size: 1.0rem;
	font-weight: 700; /* make noteTitles bold */
	margin: unset;
	padding-block-start: 0.1rem;
	padding-block-end: 0.3rem;
}
.sectionDescription { /* column 2's description */
	font-size: 0.85rem; /* smaller */
	margin: unset;
}
.sectionIcon {
	font-size: 1.0rem;
	font-weight: 400;
}
.sectionItem { /* reduce vertical spacing and line below */
	font-size: 1.0rem;
	font-weight: 400;
	padding: 2px 4px;
	border-bottom: 0px;
}
.clickTarget { /* change cursor for icons which can be clicked on */
	cursor: pointer;
}
.pad-right {	/* add space after icon */
	padding-right: 0.4em;
}
.space-under {	/* add space after icon */
	padding-bottom: 0.1em;
}
.scheduledDate { color: var(--tint-color); }
a, a:visited, a:active { /* all links turn off text color and underlining by default */
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
	text-decoration-color: var(--tint-color); }
.externalLink a, a:hover {
	text-decoration: underline;
	cursor: pointer; }
.event-link {
	font-weight: 400;
	border-color: var(--bg-alt-color);
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	padding: 0px 3px;
}
/* add space after icons: 'i.fa-solid, i.fa-light, i.fa-regular { padding-right: 6px; }',  */
.noteTitle { /* add "font-weight: 700;" to make noteTitles bold */
	color: var(--tint-color) !important;
}
.multi-cols { /* allow multi-column flow: set max columns and min width, and some other bits and pieces */
	column-count: 3;
	column-width: 25rem;
	column-gap: 1rem;
	column-rule: 1px dotted var(--tint-color); }
.fadeOutAndHide { /* Class to fade out an item, from https://stackoverflow.com/a/20910008 */
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 2s, opacity 2s linear;
}
/* Some headings specified from measuring the colour of NP sidebar elements */
.sidebarDaily { font-size: 1.0rem; color: #d0703c;  }
.sidebarWeekly { font-size: 1.0rem; color: #be23b6; }
.sidebarMonthly { font-size: 1.0rem; color: #f5528b; }
.sidebarQuarterly { font-size: 1.0rem; color: #e08008; }
.sidebarYearly { font-size: 1.0rem; color: #efba13; }
#error {
	background-color: red;
	padding-left: 10px; }
