/* Style for dropdown-select-container */
.dropdown-select-container {
	display: flex;
	flex-direction: column;
	padding-top: 1px;
}

/* Style for dropdown-select-container (compact version) */
.dropdown-select-container-compact {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	gap: 0.4rem;
	padding-top: 1px;
}

.dropdown-select-wrapper {
	display: flex;
	align-items: end;
	gap: 10px;
	position: relative;
	width: fit-content;
}

.dropdown-select-label {
	font-weight: 600;
	color: var(--fg-alt-color);
	margin-bottom: 0.5rem;
}

.dropdown-select-input {
	flex: 1;
	padding: 3px 6px 3px 0px;
	border-radius: 4px;
	width: 100%;
	font-family: system-ui;
}

.dropdown-select-input:focus {
	border-color: var(--hashtag-color);
	outline: none;
	box-shadow: 0 0 3px var(--hashtag-color);
}

.dropdown-select-arrow {
	position: absolute;
	right: 0.4rem;
	pointer-events: none;
	font-size: larger;
	color: var(--tint-color);
	align-self: center;
	top: 50%;
	transform: translateY(-50%);
}

/* The dropdown menu, that contains the -options. */
.dropdown-select-dropdiv {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	border: 1px solid var(--divider-color);
	border-radius: 4px;
	background-color: var(--bg-main-color);
	filter: brightness(110%);
	box-shadow: 0 2px 5px var(--divider-color);
	z-index: 5;
	width: 100%;
	/* ensure that a right margin can be seen still - not sure why this is needed */
	padding-right: 6px; 
}

/* The displayed options. */
.dropdown-select-option {
	cursor: pointer;
	color: var(--fg-main-color);
	margin: 0.2rem;
	padding: 0.3rem 0.3rem;
	min-height: 0.9rem;
	width: 100%;
}

/* The currently hovered-over option. */
.dropdown-select-option:hover {
	background-color: var(--tint-color);
	color: var(--bg-alt-color);
	filter: brightness(95%);
	border-radius:4px;
}

.dropdown-select-option .option-label {
	white-space: nowrap;
}

.dropdown-select-input-container {
	position: relative;
	width: 100%;
}

