/* CSS for Dynamic dialogs using theme CSS from NotePlan editor */

/* Style for the dynamic dialog */
.dynamic-dialog {
    font-family: system-ui;
    /* background-color: var(--bg-main-color); */
    background-color: var(--bg-mid-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 25rem;
    max-width: 80vw;
    width: fit-content;
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* z-index: 1000; */
    opacity: 1;
    border-radius: 8px;
    transition: opacity 0.2s ease-out;
    overflow:auto;
    max-height: 80vh;
}

/* Narrow for simpler confirmation dialogs */
.dynamic-dialog.confirmation {
    width: max(20rem, 50%);
}

/* Ensure the settings dialog content is hidden when closed */
.dynamic-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--bg-mid-color);
    padding: 0.75rem 0.6rem;
    border-radius: 8px;
    overflow: visible;
    position: relative;
    max-height: 95%;
    font-size: 95%;
}

/* Show the settings dialog with transition */
.dynamic-dialog[open] {
    opacity: 1;
}

/* Style for the dialog buttons container */
.dynamic-dialog-header {
    position: sticky;
    top: 0;
    z-index: 100; /* Ensure it stays above other content */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    gap: 0.5rem;
    background-color: var(--bg-alt-color);
    color: var(--tint-color);
    margin: 0;
    line-height: 1.2rem;
    min-height: 2.5rem;
    border-bottom: gray solid .5px;
    padding-bottom: 2px;
    /* Match the height of the buttons container */
}

/* Style for the centered header */
/* TODO: This is getting added to from somewhere but I can't find where */
.dynamic-dialog-title {
    flex-grow: 1;
    text-align: center;
    line-height: 1.2rem;
}

.dynamic-dialog {
    /* Base button styles */
    .PCButton {
        font-weight: 500;
        border-radius: 4px;
        padding: 4px 8px;
        margin: 2px 4px 2px 0px;
        white-space: nowrap;
        cursor: pointer;
        font-size: 0.85rem;
        line-height: 1.2rem;
        align-self: center;
        font-family: system-ui;
        border: none;
        transition: background-color 0.2s, box-shadow 0.2s;
        max-height: unset;
    }

    /* Hover effect for buttons */
    .PCButton:hover {
        box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.15);
    }

    /* Specific button styling */
    .cancel-button {
        background-color: var(--bg-main-color);
        color: var(--fg-main-color);
        border: 1px solid #ddd;
        outline: none;
        margin-left: 8px;
    }

    .save-button, 
    .save-button-inactive {
        background-color: var(--tint-color);
        color: var(--bg-main-color);
        margin-right: 8px;
    }

    .save-button-inactive {
        opacity: 0.3;
        cursor: unset;
    }

    /* Icon styling within button */
    .PCButton i {
        color: var(--tint-color);
    }

    /* Pointer cursor for clickable elements */
    .button, 
    .fake-button, 
    .clickTarget {
        cursor: pointer;
    }

    /* Apple Switch styling */
    input.apple-switch {
        position: relative;
        appearance: none;
        vertical-align: top;
        outline: none;
        width: 2.0rem;
        height: 1.1rem;
        background-color: #EEE;
        border: 1px solid #DDD;
        border-radius: 2.0rem;
        margin-top: 0px;
        margin-right: 4px;
    }

    input.apple-switch:after {
        content: "";
        vertical-align: top;
        position: absolute;
        top: 0px;
        left: 1px;
        background: #FFF;
        width: 1.0rem;
        height: 1.0rem;
        border-radius: 50%;
        box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.3);
        margin-right: 1.0rem;
    }

    input.apple-switch:checked {
        box-shadow: inset 0.8rem 0 0 0 var(--tint-color);
        border-color: var(--tint-color);
    }

    input.apple-switch:checked:after {
        left: 0.8rem;
        box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.1);
    }

    /* Style for switch-line */
    .switch-line {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    /* Style for switch-input */
    .switch-input {
        margin: 0;
    }

    /* Style for switch-label */
    .switch-label {
        font-weight: 600;
        color: var(--fg-alt-color);
        /* flex-shrink: 0; */
    }

    /* Style for input-box-container */
    .input-box-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        /* width: 98%; */
    }

    /* Style for input-box-container (compact version) */
    .input-box-container-compact {
        display: flex;
        flex-direction: row;
        align-items: end;
        gap: 0px !important;
        column-gap: 0px;
        justify-content: center;
    }

    /* Style for input-box-wrapper - TODO: remove later */
    .input-box-wrapper {
        display: flex;
        align-items: end;
        /* gap: 10px; */
    }

    /* Style for input-box-label */
    .input-box-label {
        font-weight: 600;
        color: var(--fg-alt-color);
        /* margin-bottom: 0.3rem; */
        margin-bottom: 0.5rem;
    }

    /* Style for input-box-input */
    .input-box-input {
        flex: 1;
        padding: 4px 8px;
        /* border: 1px solid #ddd; */
        border: 0.5px solid rgb(from var(--fg-main-color) r g b / 0.3);
        background-color: var(--bg-main-color);
        border-radius: 4px;
        font-family: system-ui;
        font-size: 0.85rem;
        /* vertical spacing above and below */
        margin: 0.3rem 0rem;
    }
    /* Apply styles for read-only input fields */
    .input-box-input:read-only {
        border-color: var(--divider-color); /* Set the border color when readonly */
        background-color: inherit; /* Maintain the background color */
        outline: none; /* Remove the focus outline */
    }

    /* Ensure the border remains unchanged when the read-only input is focused */
    .input-box-input:read-only:focus {
        border-color: var(--divider-color); /* Keep the same border color on focus */
        outline: none; /* Remove any outline on focus */
        box-shadow: none; /* Remove any potential box-shadow on focus */
    }
        
    /* Make number boxes a little narrower */
    .input-box-input-number {
        width: 6rem;
    }

    /* Style for input box with invalid input */
    .input-box-input:invalid {
        border: 1px solid #faa;
    }

    /* Focus style for non-readonly input-box-input */
    .input-box-input:not(:read-only):focus {
        border-color: var(--hashtag-color);
        outline: none;
        box-shadow: 0 0 3px var(--hashtag-color);
    }

    /* For optional 'save' button on Input Box */
    .input-box-save {
        padding: 6px 12px;
        /* Reduce height to 75% */
        border: none;
        border-radius: 4px;
        background-color: var(--tint-color);
        color: var(--bg-main-color);
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, box-shadow 0.3s;
        height: 30px;
        /* Set height to 75% of the container height */
        align-self: center;
        /* Ensure buttons are centered vertically */
    }

    /* Disabled style for input-box-save */
    .input-box-save:disabled {
        background-color: #ccc;
        color: #aaa;
        cursor: not-allowed;
        box-shadow: none;
        display: none;
    }

    /* Hover style for enabled input-box-save */
    .input-box-save:not(:disabled):hover {
        background-color: #0056b3;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    /* Style for dropdown-container */
    .dropdown-container {
        display: flex;
        flex-direction: column;
    }

    /* Style for dropdown-container (compact version) */
    .dropdown-container-compact {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 0.5rem;
    }

    /* Style for dropdown-wrapper */
    .dropdown-wrapper {
        display: flex;
        align-items: end;
        gap: 10px;
        position: relative;
        width: fit-content;
    }

    /* Style for dropdown-label */
    .dropdown-label {
        font-weight: 600;
        color: var(--fg-alt-color);
        margin-right: 0.1rem;
        margin-bottom: 0.3rem;
    }

    /* Style for dropdown-input */
    .dropdown-input {
        flex: 1;
        padding: 4px 8px;
        background-color: var(--bg-main-color);
        border: 0.5px solid rgb(from var(--fg-main-color) r g b / 0.3);
        border-radius: 4px;
        font-family: system-ui;
        font-size: 0.9rem;
        /* width: 100%; */
        /* box-sizing: border-box; */
    }

    /* Focus style for dropdown-input */
    .dropdown-input:focus {
        border-color: var(--hashtag-color);
        outline: none;
        box-shadow: 0 0 3px var(--hashtag-color);
    }

    /* Style for dropdown-arrow */
    .dropdown-arrow {
        position: absolute;
        right: 0.8rem;
        pointer-events: none;
        font-size: x-large;
        color: var(--tint-color);
        align-self: center;
    }

    /* Style for item description */
    .item-description {
        font-size: small;
        color: var(--fg-alt-color);
        /* margin-top: 0.3rem; */
        opacity: 0.8;
    }

    /* Style for Section headings */
    .ui-heading {
        font-size: 130%;
        color: var(--tint-color);
        /* padding-bottom: 0.3rem; */
        font-weight: 600;
        text-align: start;
        line-height: 140%;
    }

    .ui-separator {
        border: none; /* Remove the default border */
        border-top: 1px solid var(--divider-color); /* Add a top border with the desired color */
        margin: 1em 0; /* Optional: Adjust spacing as needed */  
    }

    /* Make disabled settings lower opacity */
    .disabled {
        opacity: 0.6;
    }

    /* Make settings that depend on another slightly indented */
    .indent {
        margin-left: 1rem;
    }

    /* Header style for settings dialog */
    /* TEST: removing this */
    /* .dynamic-dialog-header {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--tint-color);
        margin: 0;
        background: none;
        line-height: 40px;
    } */

    /* Add styles for button-group */
    .ui-button-group {
        display: flex;
        justify-content: end; /* space-between; */
        width: 100%;
        gap: 10px; /* Space between buttons */
    }

    .ui-button {
        /* flex: 1; */
        padding: 8px 12px;
        background-color: var(--bg-sidebar-color);
        color: var(--fg-main-color);
        border: 1px solid #ddd;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.2s, box-shadow 0.2s;
        min-width: 4rem;
        width: max-content;
        font-family: system-ui;
    }

    .ui-button:hover {
        background-color: var(--bg-alt-color);
        color: var(--fg-alt-color);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .default-button {
        background-color: var(--tint-color);
        color: var(--bg-main-color);
        border-radius: 8px;
    }

    .default-button:hover {
        color: var(--bg-main-color);
        filter: brightness(80%);
        /* background-color: hsl(from var(--tint-color) h s calc(l*0.8)); */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow for emphasis */
    }

    div.text-component.description {
        font-size: small;
    }
}

/* Hide increment and decrement buttons for number input */
.hide-step-buttons::-webkit-outer-spin-button,
.hide-step-buttons::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-step-buttons {
  -moz-appearance: textfield; /* Firefox */

}

/* Style for dropdown-dropdown -- these need to be global, not nested because they apply to the portal */
.dropdown-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: var(--bg-main-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

/* Style for dropdown-option */
/* TEST: removing, as not used? */
/* .dropdown-option {
    padding: 8px 12px;
    cursor: pointer;
    color: var(--fg-main-color);
} */

/* Hover style for dropdown option */
/* TEST: removing, as not used? */
/* .dropdown-option:hover {
    background-color: var(--bg-alt-color);
    color: var(--fg-alt-color);
} */

.iOS .dynamic-dialog .dynamic-dialog-header {
    font-size: 1rem;
    line-height: 1rem;
}

.thin-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #c5c5c5 #f6f6f6;
  }
  
  .thin-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .thin-scrollbar::-webkit-scrollbar-track {
    background: #f6f6f6;
  }
  
  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
    border-radius: 4px;
  }

  .dropdown-select-dropdiv {
    max-height: 30vh; 
    overflow-y: auto;
  }